<div *ngIf="showProgress">
    <loading></loading>
</div>
<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row" *ngIf="allowEditing">
        <div class="col-md-4 nopadding">
        </div>
        <div class="col-md-8 align-reverse nopadding">
            <button type="button" class="btn btn-primary" (click)="addNewClinicNoteMedication()">{{ 'NewMedication' |
                translate}}</button>
        </div>
    </div>

    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input pInputText type="text" #gb (input)="dt.filterGlobal($event.target.value, 'contains')"
            [placeholder]="'Search' | translate" />
    </div>

    <!---New Table-->
    <p-table #dt [value]="clinicNoteMedicationList" dataKey="id" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['drugCode','drugName','dosageQuantity','dosageUnitName','frequencyName','startDateString','duration','description']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="drugCode">{{'MedicationCode' | translate}} <p-sortIcon field="drugCode">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="drugName">{{'Name' | translate}} <p-sortIcon field="drugName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="dosageQuantity">{{'DosageQuantity' | translate}} <p-sortIcon
                        field="dosageQuantity">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="dosageUnitName">{{'DosageUnit' | translate}} <p-sortIcon field="dosageUnitName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="frequencyName">{{'Frequency' | translate}} <p-sortIcon field="frequencyName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="startDateString">{{'StartDate' | translate}} <p-sortIcon field="startDateString">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="duration">{{'Duration' | translate}} <p-sortIcon field="duration">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="description">{{'Description' | translate}} <p-sortIcon field="description">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="relatedDiagnoseName">{{'Diagnosis' | translate}} <p-sortIcon
                        field="relatedDiagnoseName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="recorderName">{{'RecorderName' | translate}} <p-sortIcon field="recorderName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="recordingDateString">{{'RecordedDate' | translate}} <p-sortIcon
                        field="recordingDateString">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'IsCurrent' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'Delete' | translate}} </span>
                </th>
                <th style="width: 8rem">
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>
                    {{item.drugCode}}
                </td>
                <td>
                    <span>{{item.drugName}}</span>
                </td>
                <td>
                    <span>{{item.dosageQuantity}}</span>
                </td>
                <td>
                    <span>{{item.dosageUnitName}}</span>
                </td>
                <td>
                    <span>{{item.frequencyName}}</span>
                </td>
                <td>
                    <span>{{item.startDateString}}</span>
                </td>
                <td>
                    <span>{{item.duration}}</span>
                </td>
                <td>
                    <span>{{item.description}}</span>
                </td>
                <td>
                    <span>{{item.relatedDiagnoseName}}</span>
                </td>
                <td>
                    <span>{{item.recorderName}}</span>
                </td>
                <td>
                    <span>{{item.recordingDateString}}</span>
                </td>
                <td>
                    <input id="ChkIsCurrentInGrid" name="ChkIsCurrent" class="ace ace-switch ace-switch-6"
                        type="checkbox" [checked]="item.isCurrent" (click)="changeCurrentStatus(item.id,$event)" />
                    <span class="lbl"></span>
                </td>
                <td style="text-align: center">
                    <a class="pointer" (click)="showDetails(item)">
                        <img src="assets/images/edit-24.png" />
                    </a>
                </td>
                <td>
                    <a class="pointer" (click)="deleteClinicNoteMedication(item)">
                        <img src="assets/images/delete-24.png" />
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->

</div>

<div id="divDetails" class="padding5" *ngIf="isDetailsVisible">
    <patient-medication-details [toSaveClinicNoteMedication]="toSaveClinicNoteMedication" [clinicNoteId]="clinicNoteId"
        [patientId]="patientId" (onBack)="hideDetails($event)"></patient-medication-details>
</div>