<div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-search"></i>
    <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">

    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
        [placeholder]="'Search' | translate" />
</div>

<!---New Table-->
<p-table #dt [value]="allDrugs" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['drugName']">

    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th pSortableColumn="drugName">{{'DrugName' | translate}} <p-sortIcon field="drugName">
                </p-sortIcon>
            </th>
            <th><span styleClass="text-center width70">{{'DosageQuantity' | translate}} </span>
            </th>
            <th><span styleClass="text-center width70">{{'Frequency' | translate}} </span>
            </th>
            <th><span styleClass="text-center width70">{{'Duration' | translate}} </span>
            </th>
            <th><span styleClass="text-center width70">{{'DiagnoseName' | translate}} </span>
            </th>
            <th><span styleClass="text-center width70">{{'Remarks' | translate}} </span>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr class="p-selectable-row">
            <td>
                <input type="checkbox" [checked]="item.isSelected"
                    (change)="updateSelectedDrug(item.drugId, $event)" />
            </td>
            <td>
                <span>{{item.drugName}}</span>
            </td>
            <td>
                <div class="row">
                    <input type="number" pattern="^[0-9]\d*$" min="0" name="txtMedicationDosageQuantity"
                        class="form-control" [(ngModel)]='item.dosageQuantity'
                        #txtMedicationDosageQuantity="ngModel" />
                </div>
                <div class="row" style="padding-top:4px!important;">
                    <select class="form-control" name="ddldrugDosageUnits" [(ngModel)]='item.dosageUnitId' required>
                        <option *ngFor="let obj of drugDosageUnits| translateObjects" [value]="obj.id">{{obj.name}}
                        </option>
                    </select>
                </div>
            </td>
            <td>
                <select class="form-control" name="ddldrugFrequencies" [(ngModel)]='item.frequencyId' required>
                    <option *ngFor="let obj of drugFrequencies| translateObjects" [value]="obj.id">{{obj.name}}</option>
                </select>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-4 nopadding">
                        <input type="number" pattern="^[0-9]\d*$" min="0" name="txtDuration" class="form-control"
                            [(ngModel)]='item.duration' #txtDuration="ngModel" />
                    </div>
                    <div class="col-md-8 nopadding">
                        <select class="form-control" name="ddldurationUnits" [(ngModel)]='item.durationUnit'
                            required>
                            <option *ngFor="let obj of durationUnits| translateObjects" [value]="obj.name">{{obj.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top:4px!important;"> </div>
                <p-calendar [(ngModel)]="item.startDate" [required]="true" [monthNavigator]="true"
                    [yearNavigator]="true" dateFormat="dd/mm/yy" [showIcon]="true" [ngModelOptions]="{standalone: true}"
                    yearRange="2000:2050" [inputStyle]="{'width':'125px'}"></p-calendar>
            </td>
            <td>
                <select class="form-control" name="ddlDiagnosis" [(ngModel)]='item.relatedDiagnoseId' required>
                    <option *ngFor="let obj of diagnosis| translateObjects" [value]="obj.id">{{obj.name}}</option>
                </select>
            </td>
            <td>
                <textarea class="form-control" id="txtRemarks" name="txtRemarks"
                    [(ngModel)]='item.description'></textarea>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data found.</td>
        </tr>
    </ng-template>
</p-table>
<!--End Table-->