<div>
    <div class="ui-widget-header searchWidget">
        <i class="fa fa-search searchIcon"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            [placeholder]="'Search' | translate" />
    </div>
    <!---New Table-->
    <p-table #dt [value]="allPackages" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['servicePackageCode','servicePackageName']">

        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th pSortableColumn="servicePackageCode">{{'PackageCode' | translate}} <p-sortIcon
                        field="servicePackageCode"></p-sortIcon>
                </th>
                <th pSortableColumn="servicePackageName">{{'PackageName' | translate}} <p-sortIcon
                        field="servicePackageName">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'Quantity' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'Discount' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'DiagnoseName' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'Remarks' | translate}} </span>
                </th>
                <th style="width: 8rem">
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>
                    <input type="checkbox" [checked]="item.isSelected"
                        (change)="updateSelectedService(item.servicePackageId, $event)" />
                </td>
                <td>
                    {{item.servicePackageCode}}
                </td>
                <td>
                    <span>{{item.servicePackageName}}</span>
                </td>
                <td>
                    <input type="number" min="0" id="txtQuantity" name="txtQuantity" [(ngModel)]='item.quantity' class="form-control" />
                </td>
                <td style="text-align: center">
                    <input type="number" min="0" id="txtDiscount" name="txtDiscount" [(ngModel)]='item.discount' class="form-control" />
                </td>
                <td>
                    <select class="form-control" name="ddlDiagnosis" [(ngModel)]='item.diagnoseId'>
                        <option *ngFor="let obj of diagnosis| translateObjects" [value]="obj.id">{{obj.name}}</option>
                    </select>
                </td>
                <td>
                    <textarea class="form-control" id="txtRemarks" name="txtRemarks" [(ngModel)]='item.description'></textarea>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->
</div>