<br />
<div class="row well" style="background-color: #f6f7f9 !important;">
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input class="inputSearch" #gb type="text" pInputText size="50" [placeholder]="'Search' | translate">
    </div>

    <!-- <p-dataTable [value]="clinicInventoriesHistoryList | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
        <p-column [header]="'AdjustmentDate' | translate" sortBy="lastModificationDate">
            <ng-template let-data="rowData" pTemplate="body">
                <span>{{data.lastModificationDateString }}</span>
            </ng-template>
        </p-column>
        <p-column field="id" [header]="'ReferenceNo' | translate" [sortable]="true"></p-column>
        <p-column field="description" [header]="'AdjustmentReason' | translate" [sortable]="true"></p-column>
        <p-column field="productName" [header]="'ItemName' | translate" [sortable]="true"></p-column>
        <p-column field="product.code" [header]="'ItemCode' | translate" [sortable]="true"></p-column>
        <p-column field="onHandQuantity" [header]="'OldQuantity' | translate" [sortable]="true"></p-column>
        <p-column field="adjustmentQuantity" [header]="'NewQuantity' | translate" [sortable]="true"></p-column>
        <p-column field="recordedBy" [header]="'AdjustedBy' | translate" [sortable]="true"></p-column>
    </p-dataTable> -->
</div>