<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">

    <systemAdmins-tabs [isDivisionSelected]='selectDivisionsTab'></systemAdmins-tabs>

    <div class="row nopadding">
        <div class="page-breadcrumb">
            <div class="row ">
                <div class="NBbreadcrumb">
                    <a>{{ 'SystemAdmin' | translate}}</a> &nbsp;/
                    {{ 'Divisions' | translate}}
                </div>
            </div>
        </div>

        <div class="padding5 row well">
            <div class="row ">
                <form novalidate class="form-horizontal" *ngIf="active" name="regionForm" (ngSubmit)="onSubmit()" #regionForm="ngForm">
                    
                    <div class="form-group">
                        <label for="ddlDepartment" class="control-label col-md-2 col-sm-2">{{ 'Department' | translate}}</label>
                        <div class="col-md-4 col-sm-4">
                            <select class="form-control" id="ddlDepartment" name="ddlDepartment" [(ngModel)]="model.departmentId" #ddlDepartment="ngModel" required>
                                <option class="emptyOption" value="" selected></option>
                                <option *ngFor="let item of departmentsList | translateObjects" [value]="item.id">{{item.name}}</option>
                            </select>
                            <div [hidden]="ddlDepartment.valid || ddlDepartment.pristine" class="alert alert-danger">
                                {{ 'SelectDepartment' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2" for="txtName">{{ 'DivisionNameAr' | translate}}</label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" id="txtArabicName" name="txtArabicName" class="form-control" [(ngModel)]='model.name' #txtArabicName="ngModel" required />
                            <div [hidden]="txtArabicName.valid || txtArabicName.pristine" class="alert alert-danger">
                                {{ 'RequiredField' | translate}}
                            </div>
                        </div>
                        <label class="control-label col-md-2 col-sm-2" for="txtEnglishName">{{ 'DivisionNameEn' | translate}}</label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" id="txtEnglishName" name="txtEnglishName" class="form-control" [(ngModel)]='model.nameTranslation' #txtEnglishName="ngModel" required />
                            <div [hidden]="txtEnglishName.valid || txtEnglishName.pristine" class="alert alert-danger">
                                {{ 'RequiredField' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2" for="txtArabicDescription">{{ 'Description' | translate}}</label>
                        <div class="col-md-4 col-sm-4">
                            <textarea type="text" id="txtArabicDescription" name="txtArabicDescription" class="form-control" [(ngModel)]='model.description' #txtArabicDescription="ngModel"></textarea>
                        </div>
                        <!--<label class="control-label col-md-2 col-sm-2" for="txtEnglishDescription">الوصف (إنجليزي)</label>
                            <div class="col-md-4 col-sm-4">
                                <textarea type="text" id="txtEnglishDescription" name="txtEnglishDescription" class="form-control" [(ngModel)]='model.descriptionTranslation' #txtEnglishDescription="ngModel"></textarea>
                            </div>
                        </div>
                        <div class="form-group">-->
                        <label class="control-label col-md-2" for="ChkIsActive">{{ 'Active' | translate}}</label>
                        <div class="col-md-4">
                            <label>
                                <input id="ChkIsActive" name="ChkIsActive" class="ace ace-switch ace-switch-6" type="checkbox" [(ngModel)]="model.isActive" #ChkIsActive="ngModel" />
                                <span class="lbl"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" [disabled]="!regionForm.form.valid || !enableMyAccountBtn">{{ 'Save' | translate}}</button>
                            <button type="button" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" class="btn btn-primary" (click)="clear()">{{ 'New' | translate}}</button>
                        </div>
                    </div>
                </form>

            </div>
      
            <div class="row well" style="background-color: #f6f7f9 !important;">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">
                </div>
                <p-dataTable [value]="allObjects | translateObjects  : null : null : lstToTranslated" sortField="departmentName" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
                    <p-column field="name" [header]="'NameArabic' | translate" [sortable]="true"></p-column>
                    <p-column field="nameTranslation" [header]="'NameEnglish' | translate" [sortable]="true"></p-column>
                    <p-column field="departmentName" [header]="'Department' | translate" [sortable]="true"></p-column>
                    <p-column [header]="'ActiveQues' | translate" styleClass="text-center width70">
                        <template let-item="rowData" pTemplate="body">
                            <label>
                                <input id="ChkIsActiveInGrid" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" name="ChkIsActiveInGrid" class="ace ace-switch ace-switch-6" type="checkbox" [checked]="item.isActive" (click)="changeActivation(item.id , $event)" />
                                <span class="lbl"></span>
                            </label>
                        </template>
                    </p-column>
                    <p-column [header]="'Edit' | translate" styleClass="text-center width50">
                        <template let-item="rowData" pTemplate="body">
                            <a [class.disabled]="!enableMyAccountBtn ? true : null">
                                <i class="fa fa-pencil fa-2x" (click)="editItem(item.id)" style="color: #32bea6;"></i>
                            </a>
                        </template>
                    </p-column>
                    <!--<p-column [header]="'Delete' | translate" styleClass="text-center width50">
                <template let-item="rowData" pTemplate="body">
                    <a data-toggle="modal" [class.disabled]="!enableMyAccountBtn ? true : null" data-target="#deleteConfirmation" class="pointer" (click)="selectItemToDelete(item.id)">
                        <img src="Images/DeleteRed.png" />
                    </a>
                </template>
            </p-column>-->
                </p-dataTable>
            </div>

            <table class="table table-responsive table-hover table-bordered hidden">
                <thead class="alert alert-info">
                    <tr>
                        <th>{{ 'DivisionNameAr' | translate}}</th>
                        <th>{{ 'DivisionNameEn' | translate}}</th>
                        <th>{{ 'Department' | translate}}</th>
                        <th>{{ 'ActiveQues' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allObjects">
                        <td>{{item.name}}</td>
                        <td>{{item.nameTranslation}}</td>
                        <td>{{item.departmentName}}</td>
                        <td>
                            <img *ngIf="item.isActive" src="Images/ok-24.jpg" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- delete Modal
            <div id="deleteConfirmation" class="modal fade" role="dialog">
                <div class="modal-dialog">                    
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ 'DeleteConfirmation' | translate}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'AreYouSureDelete' | translate}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" class="btn btn-danger" (click)="deleteSelectedItem()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
                            <button type="button" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
                        </div>
                    </div>

                </div>
            </div>
        -->
        </div>
    </div>
</div>


