<div class="row">

    <mobile-tabs [isAppointmentsSelected]="selectAppointments"></mobile-tabs>

    <div class="row nopadding">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-breadcrumb-wrap">
                        <div class="page-breadcrumb-info">
                            <ul class="list-page-breadcrumb">
                                <li>
                                    <!--<a href="#">System Admin</a>-->
                                </li>
                                <li class="active-page"> Appointments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Topics List-->
                    <div class="topics-list">

                        <!--Single Topic-->
                        <div class="topic-container pending-ticket pointer" routerLink="/appointmentDetails" >
                            <div class="corner-ribbon">
                                <div class="confirmedColor">
                                    Confirmed
                                </div>
                            </div>
                            <a class="topic-wrap pointer">
                                <span class="topic-thumb">
                                    <img src="images/avatar/emptyPic.jpg" alt="user">
                                </span>
                                <span class="topic-intro">
                                    <span class="topic-title">2/4/2017 14:10</span>
                                    <span class="topic-title">Dr/ Jean J. Thomas </span>
                                    <span class="topic-meta">
                                        <em>General Practice</em> 
                                        <br />
                                        Clinic1
                                    </span>
                                </span>
                            </a>
                        </div>

                        <div class="topic-container pending-ticket pointer" routerLink="/appointmentDetails">
                            <div class="corner-ribbon">
                                    <div class="confirmedColor">
                                        Confirmed
                                </div>
                            </div>
                            <a class="topic-wrap pointer">
                                <span class="topic-thumb">
                                    <img src="images/avatar/emptyPic.jpg" alt="user">
                                </span>
                                <span class="topic-intro">
                                    <span class="topic-title">27/3/2017 16:20</span>
                                    <span class="topic-title">Dr/ Michael H. Russell </span>
                                    <span class="topic-meta">
                                        <em>General Practice</em>
                                        <br />
                                        Clinic1
                                    </span>
                                </span>
                            </a>
                        </div>
                    
                        <!--Single Topic-->
                        <div class="topic-container pending-ticket pointer" routerLink="/appointmentDetails">
                            <div class="corner-ribbon">
                                <div>
                                    Pending
                                </div>
                            </div>
                            <a class="topic-wrap pointer">
                                <span class="topic-thumb">
                                    <img src="images/avatar/emptyPic.jpg" alt="user" >
                                </span>
                                <span class="topic-intro">
                                    <span class="topic-title">27/3/2017 15:30</span>
                                    <span class="topic-title">Dr/ Felicia J. Elliott </span>
                                    <span class="topic-meta">
                                        <em>Dermatology</em>
                                        <br />
                                        Clinic1
                                    </span>
                                </span>
                            </a>
                        </div>

                        <!--Single Topic-->
                        <div class="topic-container pending-ticket pointer" routerLink="/appointmentDetails">
                            <div class="corner-ribbon">
                                <div>
                                    Cancelled
                                </div>
                            </div>
                            <a class="topic-wrap pointer">
                                <span class="topic-thumb">
                                    <img src="images/avatar/emptyPic.jpg" alt="user">
                                </span>
                                <span class="topic-intro">
                                    <span class="topic-title">1/3/2017 14:00</span>
                                    <span class="topic-title">Dr/ Tyler B. Falcon </span>
                                    <span class="topic-meta">
                                        <em>Dermatology (Skin)</em>
                                        <br />
                                        Clinic1
                                    </span>
                                </span>
                            </a>
                        </div>

                        <!--Single Topic-->
                        <div class="topic-container pending-ticket pointer" routerLink="/appointmentDetails">
                            <div class="corner-ribbon">
                                <div>
                                    Done
                                </div>
                            </div>
                            <a class="topic-wrap pointer">
                                <span class="topic-thumb">
                                    <img src="images/avatar/emptyPic.jpg" alt="user">
                                </span>
                                <span class="topic-intro">
                                    <span class="topic-title">14/2/2017 14:00</span>
                                    <span class="topic-title">Dr/ Tyler B. Falcon </span>
                                    <span class="topic-meta">
                                        <em>Dermatology (Skin)</em>
                                        <br />
                                        Clinic2
                                    </span>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
