<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="padding5">
    <h4 class="h4Deco">
        {{ 'CurrentSubscription' | translate}}
    </h4>
    <hr />

    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2" for="txtCurrentStartDate">{{ 'StartDate' | translate}}</label>
            <div class="col-md-2">
                <input id="txtCurrentStartDate" name="txtCurrentStartDate" class="form-control" disabled
                    [(ngModel)]='currentSubscription.startDateString' />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2" for="txtCurrentEndDate">{{ 'EndDate' | translate}}</label>
            <div class="col-md-2">
                <input id="txtCurrentEndDate" name="txtCurrentEndDate" class="form-control" disabled
                    [(ngModel)]='currentSubscription.endDateString' />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2" for="txtCurrentNumberOfUsers">{{ 'NoOfUsers' | translate}}</label>
            <div class="col-md-2">
                <input id="txtCurrentNumberOfUsers" name="txtCurrentNumberOfUsers" class="form-control" disabled
                    [(ngModel)]='currentSubscription.numberOfUsers' />
            </div>
            <div class="col-md-4">
                <button type="button" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" class="btn btn-primary"
                    data-toggle="modal" data-target="#newSubscription">{{ 'Renew' | translate}}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 class="h4Deco">
            {{ 'SubscriptionHistory' | translate}}
            <hr />
        </h4>
    </div>
    <div class="padding2"></div>

    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">
        <input pInputText type="text" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}"
            (input)="dt.filterGlobal($event.target.value, 'contains')" [placeholder]="'Search' | translate" />

    </div>
    <!---New Table-->
    <p-table #dt [value]="subscriptionsList" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['startDateString','endDateString','numberOfUsers','creationDateString']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="startDateString">{{'StartDate' | translate}} <p-sortIcon field="startDateString">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="endDateString">{{'EndDate' | translate}} <p-sortIcon field="endDateString">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="numberOfUsers">{{'NoOfUsers' | translate}} <p-sortIcon field="numberOfUsers">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'Current' | translate}} </span>
                </th>
                <th pSortableColumn="creationDateString">{{'current' | translate}} <p-sortIcon
                        field="creationDateString"></p-sortIcon>
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-object>
            <tr class="p-selectable-row">
                <td>
                    {{object.startDateString}}
                </td>
                <td>
                    {{object.endDateString}}
                </td>
                <td>
                    {{object.numberOfUsers}}
                </td>
                <td>
                    <input type="checkbox" id="chkIsCurrent" name="chkIsCurrent" [(ngModel)]="object.isCurrent"
                        disabled />
                </td>
                <td>
                    {{object.creationDateString}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->

    <table id="print-section" class="hidden">
        <thead class="alert alert-info">
            <tr>
                <th>{{ 'StartDate' | translate}}</th>
                <th>{{ 'EndDate' | translate}}</th>
                <th>{{ 'NoOfUsers' | translate}}</th>
                <th>{{ 'Current' | translate}}</th>
                <th>{{ 'Current' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of subscriptionsList">
                <td>{{item.startDateString}}</td>
                <td>{{item.endDateString}}</td>
                <td>{{item.numberOfUsers}}</td>
                <td>
                    <input type="checkbox" id="chkIsCurrent" name="chkIsCurrent" [(ngModel)]="item.isCurrent"
                        disabled />
                </td>

                <td>{{item.creationDateString}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="newSubscription" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'Subscription' | translate}}</h4>
            </div>
            <form *ngIf="active" class="form-horizontal" name="renewForm" (ngSubmit)="onSubmit()" #renewForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtStartDate" class="control-label col-md-2">{{ 'StartDate' | translate}}</label>
                        <div class="col-md-7">
                            <p-calendar [(ngModel)]="newSubscription.startDate" [monthNavigator]="true"
                                [yearNavigator]="true" dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="2000:2050"></p-calendar>
                            <!--<input type="date" id="txtStartDate" name="txtStartDate" class="form-control"
                                    [(ngModel)]='newSubscription.startDate' #txtStartDate="ngModel" required />
                            <div [hidden]="txtStartDate.valid || txtStartDate.pristine" class="alert alert-danger">
                                Start date is requied
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtEndDate" class="control-label col-md-2"> {{ 'EndDate' | translate}}</label>
                        <div class="col-md-7">
                            <p-calendar [(ngModel)]="newSubscription.endDate" [monthNavigator]="true"
                                [yearNavigator]="true" dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="2000:2050"></p-calendar>
                            <!--<input type="date" id="txtEndDate" name="txtEndDate" class="form-control"
                            [(ngModel)]='newSubscription.endDate' #txtEndDate="ngModel" required />-->
                            <!--<div [hidden]="txtEndDate.valid || txtEndDate.pristine" class="alert alert-danger">
                                End date is requied
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="txtRemainingBalance">{{ 'NoOfUsers' |
                            translate}}</label>
                        <div class="col-md-4">
                            <input type="number" id="txtNoUsers" name="txtNoUsers" class="form-control" min="0"
                                [(ngModel)]='newSubscription.numberOfUsers' #txtNoUsers="ngModel" required />
                            <div [hidden]="txtNoUsers.valid || txtNoUsers.pristine" class="alert alert-danger">
                                {{ 'RequiredField' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="!renewForm.form.valid || !enableMyAccountBtn">
                        {{ 'Add' | translate}}
                    </button>
                    <button type="button" class="btn btn-primary" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}"
                        data-dismiss="modal" #btnSubscriptionModalClose>
                        {{ 'Cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>