<div class="row form-horizontal well">
     <div class="form-group padding5">
        <label for="txtName" class="col-md-2 control-label">الاسم</label>
        <div class="col-md-4">
            <input type="text" class="form-control nopadding" id="txtName" />
        </div>
        <label for="txtMobile" class="col-md-2 control-label">الهاتف الشخصي</label>
        <div class="col-md-2">
            <input type="text" class="form-control nopadding" id="txtMobile" />
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-md-2 control-label">البريد الالكتروني</label>
        <div class="col-md-4">
            <input type="text" class="form-control nopadding" id="txtEmail" />
        </div>
        <label for="ddlSpeciality" class="col-lg-2 control-label">التخصص</label>
        <div class="col-lg-4">
            <select id="ddlSpeciality" name="ddlSpeciality" class="form-control">
                <option value="select">اختر</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="ddlCountry" class="col-lg-2 control-label">الدولة</label>
        <div class="col-lg-4">
            <select id="ddlCountry" name="ddlCountry" class="form-control">
                <option value="select">اختر</option>
            </select>
        </div>
        <label for="ddlRegion" class="col-lg-2 control-label">المنطقة</label>
        <div class="col-lg-4">
            <select id="ddlRegion" name="ddlRegion" class="form-control">
                <option value="select">اختر</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="ddlCity" class="col-lg-2 control-label">المدينة</label>
        <div class="col-lg-4">
            <select id="ddlCity" name="ddlCity" class="form-control">
                <option value="select">اختر</option>
            </select>
        </div>       
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-primary btn-lg col-md-2">بحث</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <fieldset>
        <legend><h3>نتائج البحث</h3></legend>
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-warning">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive img-rounded center-block" style="width:100%;" title="الطبيب" ng-reflect-src="assets/images/vol-1.jpg" src="assets/images/vol-1.jpg">
                        </div>
                        <div class="col-md-9">
                            <h3>أحمد علي محمد</h3>
                        </div>
                    </div>
                    <p>التخصص: أسنان</p>
                    <p>التليفون: 0899788675676</p>
                    <p>البريد: dr1@gmail.com</p>
                    <p>العنوان: 111 شارع، مدينة، دولة كذا</p>
                    <p>
                        <button class="btn btn-info" type="button">
                            مشاهدة الملف الشخصى
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="alert alert-warning">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive img-rounded center-block" style="width:100%;" title="الطبيب" ng-reflect-src="assets/images/vol-2.jpg" src="assets/images/vol-2.jpg">
                        </div>
                        <div class="col-md-9">
                            <h3>محمود حسين السيد</h3>
                        </div>
                    </div>
                    <p>التخصص: أسنان</p>
                    <p>التليفون: 01112233443</p>
                    <p>البريد: dr5@gmail.com</p>
                    <p>العنوان: 555 شارع، مدينة، دولة كذا</p>
                    <p>
                        <button class="btn btn-info" type="button">
                            مشاهدة الملف الشخصى
                        </button>
                    </p>
                </div>
            </div>

        </div>
    </fieldset>
</div>

