<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">
    <clinic-tab [isPurchasingSelected]='selectPurchasingTab' *ngIf="isClinicAdmin"></clinic-tab>
    <shared-tabs [isPurchasingSelected]='selectPurchasingTab' *ngIf="!isClinicAdmin"></shared-tabs>
    <div class="row nopadding">

        <div class="row NBbreadcrumb">
            <a>{{ 'Clinic' | translate}}</a> &nbsp;/
            {{ 'PurchaseOrders' | translate}}
        </div>
        <div class="row well">
            <div class="col-md-offset-8  text-right">
                <button class="btn btn-primary " routerLink="/clinic/purchasing/createOrder/new/0/0"
                    disabled="{{ enableNewBtn || isClinicAdmin ? '' :'disabled'}}">{{ 'CreateNewOrder' |
                    translate}}</button>
                <print-page [section]='purchasingOrderListDiv'></print-page>
            </div>
        </div>
        <br />

        <div class="row well" style="background-color: #f6f7f9 !important;">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    [placeholder]="'Search' | translate" />
            </div>
            <!---New Table-->
            <p-table #dt [value]="ordersList" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                [globalFilterFields]="['refNo','nameTranslation']">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="refNo">{{'RerNo' | translate}} <p-sortIcon field="refNo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dateString">{{'OrderDate' | translate}} <p-sortIcon field="dateString">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="vendorName">{{'Vendor' | translate}} <p-sortIcon field="vendorName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="orderStatus">{{'Status' | translate}} <p-sortIcon field="orderStatus">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="totalPrice">{{'Total' | translate}} <p-sortIcon field="totalPrice">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="description">{{'Remark' | translate}} <p-sortIcon field="description">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="lastModificationDateString">{{'LastModificationDate' | translate}}
                            <p-sortIcon field="lastModificationDateString">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="userName">{{'LastModifierUser' | translate}} <p-sortIcon field="userName">
                            </p-sortIcon>
                        </th>
                        <th><span styleClass="text-center width70">{{'ViewDetails' | translate}} </span>
                        </th>
                        <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                        </th>
                        <th><span styleClass="text-center width70">{{'ReSend' | translate}} </span>
                        </th>
                        <th><span styleClass="text-center width70">{{'ReceiveQuantity' | translate}} </span>
                        </th>
                        <th><span styleClass="text-center width70">{{'CloseOrder' | translate}} </span>
                        </th>

                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="p-selectable-row">
                        <td>
                            {{item.refNo}}
                        </td>
                        <td>
                            <span>{{item.dateString}}</span>
                        </td>
                        <td>
                            <span>{{item.vendorName}}</span>
                        </td>
                        <td>
                            <span>{{item.orderStatus}}</span>
                        </td>
                        <td>
                            <span>{{item.totalPrice}}</span>
                        </td>
                        <td>
                            <span>{{item.lastModificationDateString}}</span>
                        </td>
                        <td>
                            <span>{{item.userName}}</span>
                        </td>
                        <td>
                            <a class="underLinelinkText" (click)="viewOrderDetails(item.id)"
                                [class.disabled]="!enableDetailsLink && !isClinicAdmin ? true : null">{{ 'ViewDetails' |
                                translate}}</a>
                        </td>
                        <td style="text-align: center">
                            <a class="underLinelinkText" (click)="checkProductsInItemsList(item.id)"
                                *ngIf="isClinicAdmin && item.orderStatus == 'Prepared'">{{ 'Edit' | translate}}</a>
                            <a class="disabled" *ngIf="isClinicAdmin && item.orderStatus != 'Prepared'" disabled>{{
                                'Edit' | translate}}</a>
                            <a class="underLinelinkText" (click)="checkProductsInItemsList(item.id)"
                                *ngIf="enableDetailsLink && item.orderStatus == 'Prepared'">{{ 'Edit' | translate}}</a>
                            <a class="disabled" *ngIf="enableDetailsLink && item.orderStatus != 'Prepared'" disabled>{{
                                'Edit' | translate}}</a>
                        </td>
                        <td>
                            <a class="underLinelinkText" (click)="resend(item)"
                                [class.disabled]="!enableResendLink && !isClinicAdmin ? true : null">{{ 'ReSend' |
                                translate}}</a>
                        </td>
                        <td>
                            <a class="underLinelinkText" routerLink="/clinic/purchasing/receiveOrder/{{item.id}}"
                                *ngIf="isClinicAdmin || enableReceiveLink">{{ 'ReceiveQuantity' | translate}}</a>
                            <a class="disabled" *ngIf="!isClinicAdmin && !enableReceiveLink" disabled>{{
                                'ReceiveQuantity' | translate}}</a>
                        </td>
                        <td>
                            <a class="underLinelinkText" (click)="closeOrder(item.id)"
                                [class.disabled]="!enableDetailsLink && !isClinicAdmin ? true : null">{{ 'Close' |
                                translate}}</a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--End Table-->
        </div>


        <div id="purchasingOrderListPrintDiv" class="row hidden">
            <table class="table table-responsive table-bordered table-hover table-striped">
                <thead class="alert alert-info">
                    <tr>
                        <th>{{ 'RerNo' | translate}}</th>
                        <th>{{ 'OrderDate' | translate}}</th>
                        <th>{{ 'Vendor' | translate}}</th>
                        <th>{{ 'Status' | translate}}</th>
                        <th>{{ 'Total' | translate}}</th>
                        <th>{{ 'Remark' | translate}}</th>
                        <th>{{ 'LastModificationDate' | translate}}</th>
                        <th>{{ 'LastModifierUser' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ordersList | translateObjects  : null : null : lstToTranslated">
                        <td>{{item.refNo}}</td>
                        <td>{{item.dateString}}</td>
                        <td>{{item.vendorName}}</td>
                        <td>{{item.orderStatus}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.lastModificationDateString}}</td>
                        <td>{{item.userName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button data-toggle="modal" data-target="#confirm" type="button" style="display:none" #btnConfirm></button>
<!--<div id="confirm" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="clearMsg()">&times;</button>
                <h4 class="modal-title">{{ 'ItemsListConfirmation' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{itemsMsge}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="useCurrentOrderdQuantity()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="useItemOrderdQuantity()">{{ 'No' | translate}}</button>
            </div>
        </div>

    </div>
</div>-->
<!-- <p-dialog id="confirme" [header]="'ItemsListConfirmation' | translate" [(visible)]="display" [width]="600" modal="modal" responsive="true" (click)="clearMsg()">

    <div>
        <p>{{itemsMsge}}</p>
    </div>
    <div>
        <button type="button" class="btn btn-danger" (click)="useCurrentOrderdQuantity()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="useItemOrderdQuantity()">{{ 'No' | translate}}</button>
    </div>
</p-dialog> -->