<div *ngIf="showProgress">
    <loading></loading>
</div>
<div class="row">
    <shared-tabs [activeTabIndex]="21"></shared-tabs>
    <div class="page-breadcrumb">
        <div class="NBbreadcrumb">
            <a>{{ 'InsuranceManagement' | translate}}</a> &nbsp;/
            {{ 'Invoices' | translate}}
        </div>
    </div>
    <div class="padding5">
        <form class="form-horizontal">
            <div class="row well">
                <div class="col-md-4  col-md-offset-8 text-right">
                    <button class="btn btn-primary" data-toggle="collapse"
                        disabled="{{ enableViewCompanyDetails ? '' :'disabled'}}" data-target="#SearchForInvoices">{{
                        'Search' | translate}}</button>
                    <print-page [section]='toPrintDiv'></print-page>
                </div>
            </div>

            <div id="SearchForInvoices" class="collapse fa-border well">
                <div class="padding5 marginTop35">
                    <div class="row form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'Company' | translate}}</label>
                            <div class="col-md-3">
                                <select id="ddlCompanies" name="ddlCompanies" class="form-control"
                                    [(ngModel)]='invoiceSearchParameters.companyId'
                                    (change)="fillCompanyPolicies(ddlCompanies.value)" #ddlCompanies>
                                    <option>{{ 'Select' | translate}}</option>
                                    <option *ngFor="let item of companiesList | translateObjects" [value]="item.id">
                                        {{item.name}}</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label">{{ 'Policy' | translate}}</label>
                            <div class="col-md-3">
                                <select id="ddlPolicies" name="ddlPolicies" class="form-control"
                                    [(ngModel)]='invoiceSearchParameters.policyId'>
                                    <option>{{ 'Select' | translate}}</option>
                                    <option *ngFor="let item of policiesList  | translateObjects" [value]="item.id">
                                        {{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtName" class="col-md-2 control-label">{{ 'Date' | translate}}</label>
                            <div class="col-md-3">
                                <select id="ddlDateFilters" name="ddlDateFilters"
                                    [(ngModel)]='invoiceSearchParameters.dateFilter'
                                    (change)="selectDateFilter(ddlDateFilters.value)" class="form-control"
                                    #ddlDateFilters>
                                    <option>{{ 'Select' | translate}}</option>
                                    <option *ngFor="let item of dateFiltersList" [value]="item.value">{{item.text|
                                        translate}}</option>
                                </select>
                            </div>
                            <label for="txtName" class="col-md-2 control-label">{{ 'Status' | translate}}</label>
                            <div class="col-md-3">
                                <select id="ddlInvoiceStatuses" name="ddlInvoiceStatuses" class="form-control"
                                    [(ngModel)]='invoiceSearchParameters.status'>
                                    <option>{{ 'Select' | translate}}</option>
                                    <option *ngFor="let item of invoiceStatusesList | translateObjects "
                                        [value]="item.value">{{item.text| translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isDurationVisible">
                            <label for="txtDuration" class="col-md-2 control-label">{{durationLabel}}</label>
                            <div class="col-md-2">
                                <input type="text" id="txtDuration" name="txtDuration" class="form-control"
                                    [(ngModel)]='invoiceSearchParameters.duration' />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isPeriodOfTimeVisible">
                            <label for="txtName" class="col-md-2 control-label">{{ 'From' | translate}}</label>
                            <div class="col-md-3">
                                <p-calendar [(ngModel)]="periodStartDate" [monthNavigator]="true" [yearNavigator]="true"
                                    dateFormat="dd/mm/yy" [showIcon]="true" [ngModelOptions]="{standalone: true}"
                                    yearRange="2000:2050"></p-calendar>
                            </div>
                            <label for="txtName" class="col-md-2 control-label">{{ 'To' | translate}}</label>
                            <div class="col-md-3">
                                <p-calendar [(ngModel)]="periodEndDate" [monthNavigator]="true" [yearNavigator]="true"
                                    dateFormat="dd/mm/yy" [showIcon]="true" [ngModelOptions]="{standalone: true}"
                                    yearRange="2000:2050"></p-calendar>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-1">
                                <button type="button" class="btn btn-primary" (click)="searchForInvoices()">{{
                                    'SearchBtn' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!---New Table-->
            <p-table #dt [value]="invoicesList" dataKey="id" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                [globalFilterFields]="['id','creatorName','invoiceDateString','companyName','totalAmountForInsuranceCompanyWithoutVAT','totalVatAmountForInsuranceCompany']">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">{{'RefNo' | translate}} <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="creatorName">{{'CreatedBy' | translate}} <p-sortIcon field="creatorName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="invoiceDateString">{{'InvoiceDate' | translate}} <p-sortIcon
                                field="invoiceDateString">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="companyName">{{'CompanyName' | translate}} <p-sortIcon field="companyName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="totalAmountForInsuranceCompanyWithoutVAT">{{'Amount' | translate}}
                            <p-sortIcon field="totalAmountForInsuranceCompanyWithoutVAT">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="totalVatAmountForInsuranceCompany">{{'VATAmount' | translate}}
                            <p-sortIcon field="totalVatAmountForInsuranceCompany">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="netAmount">{{'NetAmount' | translate}}
                            <p-sortIcon field="netAmount">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="totalCredit">{{'TotalCredit' | translate}}
                            <p-sortIcon field="totalCredit">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="status">{{'Status' | translate}}
                            <p-sortIcon field="status">
                            </p-sortIcon>
                        </th>
                        <th><span styleClass="text-center width70">{{'ShowDetails' | translate}} </span>
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="p-selectable-row">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            <span>{{item.creatorName}}</span>
                        </td>
                        <td>
                            <span>{{item.invoiceDateString}}</span>
                        </td>
                        <td>
                            <span>{{item.companyName}}</span>
                        </td>
                        <td>
                            <span>{{item.totalAmountForInsuranceCompanyWithoutVAT}}</span>
                        </td>
                        <td>
                            <span>{{item.totalVatAmountForInsuranceCompany}}</span>
                        </td>
                        <td>
                            <span>{{item.netAmount}}</span>
                        </td>
                        <td>
                            <span>{{item.totalCredit}}</span>
                        </td>
                        <td>
                            <span>{{item.status}}</span>
                        </td>
                        <td>
                            <a class="pointer" [class.disabled]="!enableViewCompanyDetails ? true : null"
                                [routerLink]="['/insurance/invoice/detail', item.id]">{{ 'ShowDetails' | translate }}
                            </a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--End Table-->


            <div id="print-section" class="hidden">
                <table class="table table-responsive table-hover">
                    <thead class="alert alert-info">
                        <tr>
                            <th>{{ 'RefNo' | translate}}</th>
                            <th>{{ 'CreatedBy' | translate}}</th>
                            <th>{{ 'InvoiceDate' | translate}}</th>
                            <th>{{ 'CompanyName' | translate}}</th>
                            <th>{{ 'Amount' | translate}}</th>
                            <th>{{ 'VATAmount' | translate}}</th>
                            <th>{{ 'NetAmount' | translate}}</th>
                            <th>{{ 'TotalCredit' | translate}}</th>
                            <th>{{ 'Status' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoicesList">
                            <td>{{item.id}}</td>
                            <td>{{item.creatorName}}</td>
                            <td>{{item.invoiceDateString}}</td>
                            <td>{{item.companyName}}</td>
                            <td>{{item.totalAmountForInsuranceCompanyWithoutVAT}}</td>
                            <td>{{item.totalVatAmountForInsuranceCompany}}</td>
                            <td>{{item.netAmount}}</td>
                            <td>{{item.totalCredit}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>