<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="padding5">

    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">
    </div>
    <p-dataTable [value]="pateintMrfs | translateObjects  : null : null : lstToTranslated" selectionMode="none" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
        <p-column field="clinicName"   [header]="'ClinicName' | translate" [sortable]="true"></p-column>
        <p-column field="departmentName" [header]="'DepartmentName' | translate" [sortable]="true"></p-column>
        <p-column field="divisionName" [header]="'DivisionName' | translate" [sortable]="true"></p-column>
        <p-column field="doctorName" [header]="'Doctor' | translate" [sortable]="true"></p-column>
        <p-column field="creationDateString" [header]="'CreationDate' | translate" [sortable]="true"></p-column>
        <p-column [header]="'Prescription' | translate" styleClass="text-center width75">
            <ng-template let-note="rowData" pTemplate="body">
                <a class="fa fa-print"  (click)="openPrescription(note.id , 'PrescriptionReport')">
                  
                </a>
            </ng-template>
        </p-column>
        <p-column [header]="'ViewDetails' | translate" styleClass="text-center width75">
            <ng-template let-note="rowData" pTemplate="body">
                <a class="pointer" data-toggle="modal" data-target="#noteView" (click)="setClinicNoteId(note.id , note.appointmentId)" >
                    <img src="Images/details-24.jpg" />
                </a>
            </ng-template>
        </p-column>
    </p-dataTable>

</div>
<!-- Modal -->
<div id="noteView" class="modal fade" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'ClinicalNoteDetails' | translate}}  </h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary" (click)="openEditClinicNotePopup()" [disabled]="!enable">{{ 'Edit' | translate}}</button>
                    <button type="button" class="btn btn-danger"  #btnCloseViewClinicNotePopUp data-dismiss="modal">{{ 'Close' | translate}}</button>
                    
                </div>
                <br />
                    <patient-note-view [model]="selectedNote"></patient-note-view>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" (click)="openEditClinicNotePopup()" [disabled]="!enable">{{ 'Edit' | translate}}</button>
                        <button type="button" class="btn btn-danger" #btnCloseViewClinicNotePopUp data-dismiss="modal">{{ 'Close' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <button type="button" #btnEditClinicNote  data-toggle="modal" data-target="#noteEditing" ></button>
</div>

<!--<div class="hidden">
    <patient-clinical-note [noteId]="noteId" [selectedAppointmentId] ="selectedAppointmentId"  (onNewNoteSaved)="getAllPatientMRF($event)" [allowEditing]="true"></patient-clinical-note>
</div>-->

<!--<p-dialog header="Clinical Note Details" [(visible)]="displayNoteInEditMode" resizable="true" width="800" responsive="true" height="auto">
    <div class="row">
        <patient-clinical-note [noteId]="noteId" [allowEditing]="true"></patient-clinical-note>
    </div>
</p-dialog>-->


<div id="noteEditing" class="modal fade" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'ClinicalNoteDetails' | translate}} </h4>
            </div>
            <div class="modal-body">
                <patient-clinical-note #patientClinicalNoteComp [noteId]="noteId" [allowEditing]="true" [selectedAppointmentId] ="selectedAppointmentId" [hasEditednote]="true"></patient-clinical-note>
            </div>
        </div>
    </div>
</div>