<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="padding5">
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input pInputText type="text" #gb (input)="dt.filterGlobal($event.target.value, 'contains')"
            [placeholder]="'Search' | translate" />
    </div>
    <!---New Table-->
    <p-table #dt [value]="pateintMrfs" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['clinicName','departmentName','divisionName','doctorName','creationDateString']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="clinicName">{{'ClinicName' | translate}} <p-sortIcon field="clinicName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="departmentName">{{'DepartmentName' | translate}} <p-sortIcon
                        field="departmentName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="divisionName">{{'DivisionName' | translate}} <p-sortIcon field="divisionName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="doctorName">{{'Doctor' | translate}} <p-sortIcon field="doctorName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="creationDateString">{{'CreationDate' | translate}} <p-sortIcon
                        field="creationDateString">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'Prescription' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'ViewDetails' | translate}} </span>
                </th>
                <th style="width: 8rem">
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>
                    {{item.clinicName}}
                </td>
                <td>
                    <span>{{item.departmentName}}</span>
                </td>
                <td>
                    <span>{{item.divisionName}}</span>
                </td>
                <td>
                    <span>{{item.doctorName}}</span>
                </td>
                <td>
                    <span>{{item.creationDateString}}</span>
                </td>
                <td>
                    <a class="fa fa-print" (click)="openPrescription(item.id , 'PrescriptionReport')">
                    </a>
                </td>
                <td style="text-align: center">
                    <a class="pointer" data-toggle="modal" data-target="#noteView"
                        (click)="setClinicNoteId(item.id , item.appointmentId)">
                        <img src="assets/images/details-24.jpg" />
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->


</div>
<!-- Modal -->
<div id="noteView" class="modal fade" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'ClinicalNoteDetails' | translate}} </h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary" (click)="openEditClinicNotePopup()"
                        [disabled]="!enable">{{ 'Edit' | translate}}</button>
                    <button type="button" class="btn btn-danger" #btnCloseViewClinicNotePopUp data-dismiss="modal">{{
                        'Close' | translate}}</button>

                </div>
                <br />
                <patient-note-view [model]="selectedNote"></patient-note-view>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" (click)="openEditClinicNotePopup()"
                            [disabled]="!enable">{{ 'Edit' | translate}}</button>
                        <button type="button" class="btn btn-danger" #btnCloseViewClinicNotePopUp
                            data-dismiss="modal">{{ 'Close' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <button type="button" #btnEditClinicNote data-toggle="modal" data-target="#noteEditing"></button>
</div>

<!--<div class="hidden">
    <patient-clinical-note [noteId]="noteId" [selectedAppointmentId] ="selectedAppointmentId"  (onNewNoteSaved)="getAllPatientMRF($event)" [allowEditing]="true"></patient-clinical-note>
</div>-->

<!--<p-dialog header="Clinical Note Details" [(visible)]="displayNoteInEditMode" resizable="true" width="800" responsive="true" height="auto">
    <div class="row">
        <patient-clinical-note [noteId]="noteId" [allowEditing]="true"></patient-clinical-note>
    </div>
</p-dialog>-->


<div id="noteEditing" class="modal fade" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'ClinicalNoteDetails' | translate}} </h4>
            </div>
            <div class="modal-body">
                <patient-clinical-note #patientClinicalNoteComp [noteId]="noteId" [allowEditing]="true"
                    [selectedAppointmentId]="selectedAppointmentId" [hasEditednote]="true"></patient-clinical-note>
            </div>
        </div>
    </div>
</div>