
<div class="left-aside desktop-view">
    <div class="aside-branding">
        <a>
            <!--<img src="assets/images/logo.png" height="60" width="60" />-->
            <img src="assets/images/App-Logo.png" title="Logo" class="appLogo" />
        </a>
        <!--<a routerLink="/home" class="large-logo">
            <span style="color:white;">&nbsp;&nbsp;CIS</span>
        </a>-->
        <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
        <span class="aside-close waves-effect" onclick="closeLeftBar();"><i class="fa fa-times"></i></span>
    </div>
    <div class="left-navigation">
        <ul class="list-accordion padding5">
            <li >
                <a class="{{ (activeTabIndex == 0) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/account/{{receptionistId}}"> {{ 'MyAccount' | translate}}</a>
            </li>
            <li >
                <a class="{{ (activeTabIndex == 1) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/basic/{{receptionistId}}">{{ 'MyPersonalData' | translate}}</a>
            </li>
            <li >
                <a class="{{ (activeTabIndex == 2) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/address/{{receptionistId}}">{{ 'AddressContact' | translate}}</a>
            </li>
            <li >
                <a class="{{ (activeTabIndex == 3) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/appointments">{{ 'Appointments' | translate}}</a>
            </li>
            <li >
                <a class="{{ (activeTabIndex == 4) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/patients/{{receptionistId}}">{{ 'Patients' | translate}}</a>
            </li>
            <li>
                <a class="{{ (activeTabIndex == 5) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/requests/{{receptionistId}}">{{ 'GuestRequests' | translate}}</a>
            </li>
            <li>
                <a class="{{ (activeTabIndex == 6) ? 'selectednavbaritem active' : '' }}" routerLink="/receptionist/reports/{{receptionistId}}">{{ 'Reports' | translate}}</a>
            </li>

        </ul>
    </div>
</div>

