<div *ngIf="showProgress">
    <loading></loading>
</div>

<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row text-right">
            <button type="button" class="btn btn-primary" (click)="addNewSurgery()" [disabled]="!enable">{{ 'NewSurgery' | translate}}</button>
    </div>
    <div class="row padding5">&nbsp;</div>

    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">
    </div>
    <p-dataTable [value]="surgeriesList | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
        <p-column field="surgeryCode" [header]="'SurgeryCode' | translate" [sortable]="true"></p-column>
        <p-column field="surgeryName" [header]="'surgeryName' | translate"[sortable]="true"></p-column>
        <p-column field="dateTimeString" [header]="'Date' | translate" [sortable]="true"></p-column>
        <p-column field="description"[header]="'Description' | translate" [sortable]="true"></p-column>
        <p-column [header]="'Edit' | translate" styleClass="text-center">
            <ng-template let-surgery="rowData" pTemplate="body">
                <a class="pointer" (click)="showDetails(surgery)"  [class.disabled]="!enable ? true : null">
                    <i class="fa fa-pencil fa-2x"  style="color: #32bea6;"></i>
                </a>
            </ng-template>
        </p-column>
        <p-column [header]="'Delete' | translate" styleClass="text-center width50">
            <ng-template let-surgery="rowData" pTemplate="body">
                <td class="borderStyle text-center">
                    <a class="pointer" (click)="deleteSurgery(surgery)" [class.disabled]="!enable ? true : null">
                        <i  class="glyphicon glyphicon-remove iconClose"></i>
                    </a>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div id="divTable" class="padding5" *ngIf="isDetailsVisible">
    <patient-surgery-details [toSaveSurgery]="toSaveSurgery" [patientId]="patientId" [patientDOB] ="patientDOB" (onBack)="hideDetails($event)" [allServices]="allServices"></patient-surgery-details>
</div>