<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">
    <shared-tabs [activeTabIndex]="3"></shared-tabs>
</div>

<div class="page-breadcrumb">
    <div class="row">
        <div class="row NBbreadcrumb">
            <a>{{ 'DoctorProfile' | translate}}</a> &nbsp;/
            {{ 'MyAppointments' | translate}}
        </div>
        <div class="col-md-5 alert alert-info text-center">
            <div *ngIf="hasMultiClincs">
                <select id="ddlObjects" class="form-control" name="ddlObjects" (change)="setClinicId(d.value)" #d>
                    <option value="">{{ 'Select' | translate}}</option>
                    <option *ngFor="let obj of clinics" [value]="obj.id">{{obj.name}}</option>
                </select>
            </div>
            <div *ngIf="!hasMultiClincs">
                {{selectedClinic.name}}
            </div>
        </div>
    </div>
</div>

<br />

<div class="padding5">
    <div class="row well">
        <div class="col-md-4  col-md-offset-8 ">
            <button class="float-right btnMarginLeft btn btn-primary" disabled="{{ !disabled ? '' :'disabled'}}"
                data-toggle="collapse" data-target="#SearchForPatient">{{ 'Search' | translate}}</button>
            <button class="btn btn-primary float-right btnMarginRight " (click)="reloadDoctorAppointments()">{{ 'Reload'
                | translate}}</button>
        </div>
    </div>
    <div class="row">

        <br />
        <div id="SearchForPatient" class="collapse fa-border well">
            <div class="padding5 marginTop35">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label for="txtMRNRes" class="col-md-2 control-label">{{ 'PatientMRN' | translate}}</label>

                        <div class="col-md-4">
                            <input type="text" placeholder="MRN" class="form-control"
                                [(ngModel)]='appointmentCriteria.patientClinicMRN' id="txtMRNRes" name="txtMRNRes"
                                on-keyup="returnToDoctorAppointments(v.value)" #v />
                            <a class="pointer" (click)="showPatientDialog()">{{ 'PatientAdvancedSearch' |
                                translate}}</a>
                        </div>
                        <div class="col-md-4">
                            <button type="button" (click)="search()" class="btn btn-primary"
                                disabled="{{ !disabled ? '' :'disabled'}}">{{ 'Search' | translate}}</button>
                            <button type="button" (click)="getPatientMrfByUnifiedMrn()" class="btn btn-primary"
                                disabled="{{ !disabled ? '' :'disabled'}}">{{ 'OpenMRF' | translate}}</button>
                        </div>

                        <!-- <p-dialog contentHeight="500" [header]="'SearchForPatient' | translate" [(visible)]="display" resizable="true" width="800" responsive="true" height="auto">
                            <patient-search [showActive]="showActive" [showEdit]="showEdit" [showSelect]="showSelect" [showClose]="showClose" (patientSelected)="managePatientSelection($event)"></patient-search>
                        </p-dialog> -->

                    </div>

                </div>
            </div>
        </div>

        <div class="padding2"></div>

        <div class="row well" style="background-color: #f6f7f9 !important;">

            <div class="col-md-5 nopadding">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input pInputText type="text" [(ngModel)]="filterString"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                        [placeholder]="'Search' | translate" />
                </div>
            </div>



            <!---New Table-->
            <p-table #dt [value]="doctorAppointmentsList" dataKey="id" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                [globalFilterFields]="['serialNumber','patientClinicMRN','patientName','dateTimeFormat','appointmentClassName','receptionistRemarks','arrivalTimeString']">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="serialNumber">#<p-sortIcon field="serialNumber"></p-sortIcon>
                        </th>
                        <th pSortableColumn="patientClinicMRN">{{'MRN' | translate}} <p-sortIcon
                                field="patientClinicMRN"></p-sortIcon>
                        </th>
                        <th pSortableColumn="patientName">{{'PatientName' | translate}} <p-sortIcon field="patientName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="dateTimeFormat">{{'Time' | translate}} <p-sortIcon field="dateTimeFormat">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="appointmentClassName">{{'AppointmentType' | translate}} <p-sortIcon
                                field="appointmentClassName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="receptionistRemarks">{{'ReceptionistRemarks' | translate}} <p-sortIcon
                                field="receptionistRemarks"></p-sortIcon>
                        </th>
                        <th pSortableColumn="arrivalTimeString">{{'Arrival' | translate}} <p-sortIcon
                                field="arrivalTimeString"></p-sortIcon>
                        </th>
                        <th><span styleClass="text-center width70">{{'Seen' | translate}} </span>
                        </th>
                        <th><span styleClass="text-center width70">{{'ViewMRF' | translate}} </span>
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="p-selectable-row">
                        <td>
                            {{item.serialNumber}}
                        </td>
                        <td>
                            <span>{{item.patientClinicMRN}}</span>
                        </td>
                        <td>
                            <span>{{item.patientName}}</span>
                        </td>
                        <td>
                            <span>{{item.dateTimeFormat}}</span>
                        </td>
                        <td>
                            <span>{{item.appointmentClassName}}</span>
                        </td>
                        <td>
                            <span>{{item.receptionistRemarks}}</span>
                        </td>
                        <td>
                            <span>{{item.arrivalTimeString}}</span>
                        </td>
                        <td>
                            <button class="btn btn-success" (click)="addSeenTime(item)"
                                disabled="{{ !item.isSeen ? '' :'disabled'}}">
                                {{ (item.isSeen) ? item.seenTimeString : seenString }}
                            </button>
                        </td>
                        <td style="text-align: center">
                            <a class="pointer" (click)="!disabled && viewMrf(item)"
                                [class.disabled]="disabled ? true : null">
                                <img src="assets/images/viewFile-24.png" />
                            </a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--End Table-->


        </div>

    </div>
</div>


<!--<p-dialog [header]="'SearchForPatient' | translate"
          [(visible)]="display" resizable="true" width="800" responsive="true" height="auto">
    <patient-search [showActive]="showActive" [showEdit]="showEdit" [showSelect]="showSelect" [showClose]="showClose" (patientSelected)="managePatientSelection($event)"></patient-search>
</p-dialog>-->