<div *ngIf="showProgress">
    <loading></loading>
</div>
<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row" *ngIf="allowEditing">
        <div class="col-md-4 nopadding">
        </div>
        <div class="col-md-8 align-reverse nopadding">
 <button type="button" class="btn btn-primary" (click)="addNewClinicNoteDiagnose()">{{ 'NewDiagnosis' | translate}}</button>
        </div>
    </div>
    
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">
    </div>
    <p-dataTable [value]="diagnosisList | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
        <p-column field="diagnoseCode" [header]="'DiagnoseCode' | translate" [sortable]="true"></p-column>
        <p-column field="diagnoseName" [header]="'DiagnoseName' | translate" [sortable]="true"></p-column>
        <p-column field="dateTimeString" [header]="'Date' | translate" [sortable]="true"></p-column>
        <p-column field="description" [header]="'Description' | translate" [sortable]="true"></p-column>
        <p-column field="doctorName" [header]="'DoctorName' | translate" [sortable]="true"></p-column>
        <p-column field="status" [header]="'Status' | translate" [sortable]="true"></p-column>
        <p-column [header]="'IsCurrent' | translate" styleClass="text-center" *ngIf="allowEditing">
            <ng-template let-clinicNoteDiagnose="rowData" pTemplate="body">
                <input id="ChkIsCurrentInGrid" name="ChkIsCurrent" class="ace ace-switch ace-switch-6"
                       type="checkbox" [checked]="clinicNoteDiagnose.isCurrent"
                       (click)="changeCurrentStatus(clinicNoteDiagnose.id,$event)" />
                <span class="lbl"></span>
            </ng-template>
        </p-column>
        <p-column [header]="'Edit' | translate" styleClass="text-center" *ngIf="allowEditing">
            <ng-template let-clinicNoteDiagnose="rowData" pTemplate="body">
                <a class="pointer" (click)="showDetails(clinicNoteDiagnose)">
                    <img src="Images/edit-24.png" />
                </a>
            </ng-template>
        </p-column>
        <p-column [header]="'Delete' | translate" styleClass="text-center width50" *ngIf="allowEditing">
            <ng-template let-clinicNoteDiagnose="rowData" pTemplate="body">
                <a class="pointer" (click)="deleteClinicNoteDiagnose(clinicNoteDiagnose)">
                    <img src="Images/delete-24.png" />
                </a>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div id="divDetails" class="padding5" *ngIf="isDetailsVisible">
    <patient-diagnose-details [toSaveClinicNoteDiagnose]="toSaveClinicNoteDiagnose" [clinicNoteId]="clinicNoteId" [patientId]="patientId" (onBack)="hideDetails($event)"></patient-diagnose-details>
</div>
