<div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-search"></i>
    <input pInputText type="text" #gb (input)="dt.filterGlobal($event.target.value, 'contains')"
        [placeholder]="'Search' | translate" />
</div>


<!---New Table-->
<p-table #dt [value]="allRadiologies" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['radTestCode','nameTranslation']">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th pSortableColumn="radTestCode">{{'RadiologyCode' | translate}} <p-sortIcon field="radTestCode">
                </p-sortIcon>
            </th>
            <th pSortableColumn="radTestName">{{'RadiologyName' | translate}} <p-sortIcon field="radTestName">
                </p-sortIcon>
            </th>
            <th><span styleClass="text-center width70">{{'Quantity' | translate}} </span>
            </th>
            <th><span styleClass="text-center width70">{{'DiagnoseName' | translate}} </span>
            </th>
            <th><span styleClass="text-center width70">{{'Remarks' | translate}} </span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr class="p-selectable-row">
            <td>
                <input type="checkbox" [checked]="item.isSelected"
                    (change)="updateSelectedRadiology(item.radiologyTestId, $event)" />
            </td>
            <td>
                {{item.radTestCode}}
            </td>
            <td>
                <span>{{item.radTestName}}</span>
            </td>
            <td>
                <input type="number" min="0" id="txtQuantity" name="txtQuantity" [(ngModel)]='item.quantity'
                    class="form-control" />
            </td>
            <td style="text-align: center">
                <select class="form-control" name="ddlDiagnosis" [(ngModel)]='item.diagnoseId'>
                    <option *ngFor="let obj of diagnosis| translateObjects" [value]="obj.id">{{obj.name}}</option>
                </select>
            </td>
            <td>
                <textarea class="form-control" id="txtRemarks" name="txtRemarks"
                    [(ngModel)]='item.description'></textarea>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data found.</td>
        </tr>
    </ng-template>
</p-table>
<!--End Table-->