<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row form-horizontal well">
    <br />
    <div class="form-group">
        <label for="txtName" class="col-md-2 control-label">{{ 'NameOrPartOfName' | translate}}</label>
        <div class="col-md-4">
            <input type="text" id="txtName" name="txtName" [placeholder]="'NameOrPartOfName' | translate"
                [(ngModel)]='searchCriteria.searchableName' #txtName="ngModel" class="form-control nopadding" />
        </div>
        <label for="txtMRN" class="col-md-2 control-label">{{ 'MRN' | translate}}</label>
        <div class="col-md-4">
            <input type="text" id="txtMRN" name="txtMRN" [placeholder]="'MRN' | translate"
                [(ngModel)]='searchCriteria.clinicMRN' #txtMRN="ngModel" class="form-control nopadding" />
        </div>
    </div>
    <div class="form-group">
        <label for="txtMobile" class="col-md-2 control-label">{{ 'MobileNumber' | translate}}</label>
        <div class="col-md-4">
            <input type="text" id="txtMobile" [placeholder]="'MobileNumber' | translate" name="txtMobile"
                [(ngModel)]='searchCriteria.mobileNumber' #txtMobile="ngModel" class="form-control nopadding" />
        </div>
        <label for="txtIdNumber" class="col-md-2 control-label">{{ 'IdNumber' | translate}}</label>
        <div class="col-md-4">
            <input id="txtIdNumber" name="txtIdNumber" [placeholder]="'MobileNumber' | translate"
                [(ngModel)]='searchCriteria.iDNumber' #txtIdNumber="ngModel" type="text"
                class="form-control nopadding" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <button class="btn btn-primary" (click)="getAllPatients()">
                <i class="fa fa-search"></i>{{ 'Search' | translate}}</button>
            <button type="button" class="btn btn-danger" (click)="display=false" *ngIf="showClose">{{ 'Cancel' |
                translate}}</button>

        </div>
    </div>
</div>
<div class="row well" style="background-color: #f6f7f9 !important;">
    <h4 class="h4Deco">{{ 'SearchResults' | translate}}</h4>
    <hr />
    <div class="row well" style="background-color: #f6f7f9 !important;">

        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                [placeholder]="'Search' | translate" />
        </div>

        <!---New Table-->
        <p-table #dt [value]="matchedPatients" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['clinicMRN','name','idNumber']">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="clinicMRN">{{'MRN' | translate}} <p-sortIcon field="clinicMRN"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name">{{'PatientName' | translate}} <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th><span styleClass="text-center width70">{{'MobileNumber' | translate}} </span>
                    </th>
                    <th pSortableColumn="idNumber">{{'IdNumber' | translate}} <p-sortIcon field="idNumber"></p-sortIcon>
                    </th>
                    <th><span styleClass="text-center width70">{{'IsActive' | translate}} </span>
                    </th>
                    <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                    </th>
                    <!-- <th><span styleClass="text-center width70">{{'SelectPatient' | translate}} </span>
                    </th> -->
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr class="p-selectable-row">
                    <td>
                        {{item.clinicMRN}}
                    </td>
                    <td>
                        <span>{{item.name}}</span>
                    </td>
                    <td>
                        {{item.reachInfo?.mobile}}
                    </td>
                    <td>
                        <span>{{item.idNumber}}</span>
                    </td>
                    <td>
                        <input type="checkbox" class="ace ace-switch ace-switch-6" #patientType
                            [checked]="item.isActive" id="chkBoxIsActive" name="chkBoxIsActive" [value]="item.isActive"
                            (click)="changePatientActivation(patientType.value,item.id, $event)"
                            disabled="{{ enableActivatePatientBtn ? '' :'disabled'}}" 
                            />
                        <span class="lbl"></span>
                    </td>
                    <td style="text-align: center">
                        <a class="pointer" routerLink="/patient/file/{{item.id}}">
                            <img src="assets/images/edit-24.png" />
                        </a>
                    </td>
                    <!-- <td>
                        <img src="assets/images/if_hand_finger_17529.png" (click)="selectPatientForSearch(item.id)"
                            width="30" height="30" />
                    </td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No data found.</td>
                </tr>
            </ng-template>
        </p-table>
        <!--End Table-->
    </div>


</div>