<div class="row">

    <mobile-tabs [isNewsSelected]="selectNews"></mobile-tabs>

    <div class="row nopadding">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-breadcrumb-wrap">
                        <div class="page-breadcrumb-info">
                            <ul class="list-page-breadcrumb">
                                <li>
                                    <!--<a href="#">System Admin</a>-->
                                </li>
                                <li class="active-page">  News</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>

        <div class="w-user-list">
            <div class="w-user-list-item">
                <div class="w-user-thumbnail">
                    <a href="#">
                        <img src="images/doctor.jpg" alt="user">
                    </a>
                </div>
                <div class="w-user-info">
                    <ul>
                        <li>
                            <span>25/3/2017</span>
                        </li>
                        <li>
                            <span><a href="#">New Service Announcement </a></span>
                        </li>

                        <li>
                            <span> Description description description description description description description</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-user-list-item">
                <div class="w-user-thumbnail">
                    <a href="#">
                        <img src="images/inventoryManager.jpg" width="60" height="60" />
                    </a>
                </div>
                <div class="w-user-info">
                    <ul>
                        <li>
                            <span>23/3/2017</span>
                        </li>
                        <li>
                            <span><a href="#">New Laboratory Check </a></span>
                        </li>
                        <li>
                            <span>Description description description description description description description</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-user-list-item">
                <div class="w-user-thumbnail">
                    <a href="#">
                        <img src="images/kleopatra.png" width="60" height="60" />
                    </a>
                </div>
                <div class="w-user-info">
                    <ul>
                        <li>
                            <span>23/3/2017</span>
                        </li>
                        <li>
                            <span><a href="#">A new division has been added </a></span>
                        </li>
                        <li>
                            <span> Description description description description description description description</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary">Load More...</button>
        </div>

    </div>
</div>
