<div *ngIf="showProgress">
    <loading></loading>
</div>
<br />
<div class="row ">
    <div class="col-md-4">

        <div class="row well">

            <div class="row well">
                
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="inputSearch form-control" [placeholder]="'Search' | translate" [(ngModel)]='groupfilterString' />
                </div>
                
            </div>
            <div class="row">
                <table class="table table-responsive table-bordered">
                    <thead class="alert alert-info">
                        <tr>
                            <th class="col-md-9" style="color:#c492ef;" colspan="2">{{ 'Groups' | translate}}</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let grp of userGroupsList | filterByName:groupfilterString" class="{{(grp.id == selectedGroupId) ? 'success' : ''}}">
                        <td class="col-md-9"><a (click)="editUserGroup(grp.id)" class="pointer">{{selectedLang === 'ar' ?  grp.name : grp.nameTranslation}}</a></td>
                        <td class="col-md-3">
                            <a data-toggle="modal" data-target="#deleteGroupConfirmation" class="pointer"
                               (click)="selectGroupToDelete(grp.id)">
                                <i  *ngIf="!grp.isAdmin" class="glyphicon glyphicon-remove iconAd"></i>
                            </a>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8 divBorders">
        <form *ngIf="active" class="form-horizontal"
              name="userGroupsForm"
              (ngSubmit)="onSubmit()" #userGroupsForm="ngForm">
            <fieldset>
                <div class="form-group ">
                    <button class="btn btn-primary" [disabled]="!userGroupsForm.form.valid || !isClinicAdmin" >{{ 'Save' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="clear()" disabled="{{ isClinicAdmin ? '' :'disabled'}}">{{ 'New' | translate}}</button>
                </div>
                <div class="form-group">
                    <h3 class="h3Deco">{{GroupInfo}}</h3>
                    <hr />
                    
                    <label for="txtNameTranslation" class="control-label col-md-3">{{ 'NameArabic' | translate}}</label>
                    <div class="col-md-3 nopadding">
                        <input type="text" class="form-control" name="txtGroupName" id="txtGroupName" [(ngModel)]='model.name' #txtGroupName="ngModel" required>
                        <div [hidden]="txtGroupName.valid || txtGroupName.pristine" class="alert alert-danger">
                            {{ 'RequiredField' | translate}}
                        </div>
                    </div>
                    <label for="txtGroupNameEnglish" class="control-label col-md-3"> {{ 'NameEnglish' | translate}}</label>
                    <div class="col-md-3 nopadding">
                        <input type="text" class="form-control" name="txtGroupNameEnglish" id="txtGroupNameEnglish" [(ngModel)]='model.nameTranslation' #txtGroupNameEnglish="ngModel" required>
                        <div [hidden]="txtGroupNameEnglish.valid || txtGroupNameEnglish.pristine" class="alert alert-danger">
                            {{ 'RequiredField' | translate}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="chkIsActive" class="control-label col-md-2">{{ 'Active' | translate}}
</label>
                    <div class="col-md-4 nopadding">
                        <label>
                            <input id="chkIsActive" name="chkIsActive" class="ace ace-switch ace-switch-6" type="checkbox"
                                   [(ngModel)]="model.isActive" #chkIsActive="ngModel" />
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtLastModifiedBy" class="control-label col-md-3">{{ 'LastModifierUser' | translate}}</label>
                    <div class="col-md-3 nopadding">
                        <input type="text" class="form-control" name="txtLastModifiedBy" id="txtLastModifiedBy"
                               disabled>
                    </div>
                    <label for="txtLastModified" class="control-label col-md-3">{{ 'LastModificationDate' | translate}}</label>
                    <div class="col-md-3 nopadding">
                        <input type="text" class="form-control" name="txtLastModified" id="txtLastModified"
                               [(ngModel)]='model.lastModificationDateString' disabled>
                    </div>
                </div>
                <div class="form-group">
                    <h3 class="h3Deco">{{ 'Members' | translate}}</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-5 nopadding">
                            <h4 class="h4Deco">{{ 'AllUsers' | translate}}</h4>

                        </div>
                        <div class="col-md-5 nopadding col-md-offset-1">
                            <h4 class="h4Deco">{{ 'SelectedUsers' | translate}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkboxListContainer col-md-5 nopadding">
                            
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="search" [placeholder]="'Search' | translate"
                                       class="inputSearch form-control" name="txtUserSearch" id="txtUserSearch" [(ngModel)]='userfilterString' />                            </div>
                            <div class="checkboxListScrollArea">
                                <table>
                                    <tr *ngFor="let usr of usersList  | filterByName:userfilterString">
                                        <td>
                                            <input type="checkbox" name="chkBoxUser" value="{{usr.id}}"
                                                   [checked]="selectedGroupUsersIDs.indexOf(usr.id) >= 0"
                                                   (change)="updateSelectedUsers(usr.id, $event)"
                                                   [disabled]="isAdminGroupSelected && usr.isAdmin" />
                                            <!--{{usr.name}}-->
                                            {{selectedLang === 'ar' ?  usr.name : usr.nameTranslation}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="checkboxListView col-md-5 col-md-offset-1 nopadding">
                            <table class="table table-responsive table-hover table-striped">
                                <tr *ngFor="let usr of model.securityUsers">
                                    <td>
                                        <!--{{usr.name}}-->
                                        {{selectedLang === 'ar' ?  usr.name : usr.nameTranslation}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="h4Deco">{{ 'Permissions' | translate}}</h4>
                    <hr />
                    <div class="col-md-12">
                        <p-dataTable [value]="permissionsList" selectionMode="single"
                                     [paginator]="false" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]"
                                      [responsive]="true" reorderableColumns="true" [globalFilter]="gb"
                                     rowGroupMode="subheader"
                                     groupField="categoryFriendlyName"
                                     expandableRowGroups="true" [sortableRowGroup]="false">
                            <ng-template pTemplate="rowgroupheader" let-rowData>
                                {{rowData['categoryFriendlyName']}}
                            </ng-template>
                            <!--<p-column field="categoryFriendlyName" header="Permission Category" [sortable]="true"></p-column>-->
                            <p-column field="name" [header]="'Permissions' | translate" [sortable]="false"></p-column>
                            <p-column  [header]="'FullControl' | translate"  styleClass="text-center width70">
                                <ng-template let-permission="rowData" pTemplate="body">
                                    <input type="checkbox" name="chkFullControl"
                                           [disabled]="!permission.isFullControlAvailable"
                                           [checked]="isPermissionChecked(permission.id,'fullControl', permission.isFullControlAvailable)"
                                           (change)="updateSelectedPermissions(permission.id,'fullControl', $event)" />
                                </ng-template>
                            </p-column>
                            <p-column [header]="'View' | translate"  styleClass="text-center width50">
                                <ng-template let-permission="rowData" pTemplate="body">
                                    <input type="checkbox" name="chkView"
                                           [disabled]="!permission.isViewAvailable"
                                           [checked]="isPermissionChecked(permission.id,'view', permission.isViewAvailable)"
                                           (change)="updateSelectedPermissions(permission.id,'view', $event)" />
                                </ng-template>
                            </p-column>
                            <p-column [header]="'Add' | translate" styleClass="text-center width50">
                                <ng-template let-permission="rowData" pTemplate="body">
                                    <input type="checkbox" name="chkAdd"
                                           [disabled]="!permission.isAddAvailable"
                                           [checked]="isPermissionChecked(permission.id,'add', permission.isAddAvailable)"
                                           (change)="updateSelectedPermissions(permission.id,'add', $event)" />
                                </ng-template>
                            </p-column>
                            <p-column [header]="'Edit' | translate"  styleClass="text-center width50">
                                <ng-template let-permission="rowData" pTemplate="body">
                                    <input type="checkbox" name="chkEdit"
                                           [disabled]="!permission.isEditAvailable"
                                           [checked]="isPermissionChecked(permission.id,'edit', permission.isEditAvailable)"
                                           (change)="updateSelectedPermissions(permission.id,'edit', $event)" />
                                </ng-template>
                            </p-column>
                            <p-column [header]="'ActivateDeactivate' | translate"   styleClass="text-center width80">
                                <ng-template let-permission="rowData" pTemplate="body">
                                    <input type="checkbox" name="chkActivate"
                                           [disabled]="!permission.isActivateAvailable"
                                           [checked]="isPermissionChecked(permission.id,'activate', permission.isActivateAvailable)"
                                           (change)="updateSelectedPermissions(permission.id,'activate', $event)" />
                                </ng-template>
                            </p-column>
                            <p-column [header]="'Allow' | translate" styleClass="text-center width50">
                                <ng-template let-permission="rowData" pTemplate="body">
                                    <input type="checkbox" name="chkAllow"
                                           [disabled]="!permission.isAllowAvailable"
                                           [checked]="isPermissionChecked(permission.id,'allow', permission.isAllowAvailable)"
                                           (change)="updateSelectedPermissions(permission.id,'allow', $event)" />
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>

            </fieldset>
        </form>
        <!-- Modal -->
        <div id="deleteGroupConfirmation" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'DeleteConfirmation' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'AreYouSureDelete' | translate}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="deleteSelectedGroup()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>