<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">

    <clinic-tab [isDashboardSelected]="selectDashboardTab"></clinic-tab>

    <div class="row">
        <div class="row " style="padding:13px;">
            <div class="NBbreadcrumb">
                <a>{{ 'SystemAdmin' | translate}}</a> &nbsp;/
                {{ 'Dashboard' | translate}}
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row well containerDetails">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="iconOuter docIconStyle">
                        <span class="nav-icon"><i class="fa fa-user-md iconStyle "></i></span>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6 details">
                    <div class="docTile"> {{'ActiveDoctors' | translate}}</div>
                    <div class="status">{{model.activeDoctorsCount}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row well containerDetails">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="iconOuter appointmentIconStyle">
                        <span class="nav-icon"><i class="fa fa-phone iconStyle"></i></span>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6 details">
                    <div class="docTile"> {{'TodaysAppointment' | translate}}</div>
                    <div class="status">{{model.todayAppointmentsCount}}</div>
                    <div>
                        <span class="w-meta-title" style="text-transform: lowercase;">{{'Seen' | translate}} : {{model.seenAppoitmentCount}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="row well containerDetails">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="iconOuter paymentIconStyle">
                        <span class="nav-icon"><i class="fa fa-credit-card iconStyle "></i></span>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6 details">
                    <div class="docTile"> {{ 'TodaysPayments' | translate }}</div>
                    <div class="status">{{model.paymentsAmount}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row well containerDetails">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="iconOuter refundIconStyle">
                        <span class="nav-icon"><i class="fa  fa-undo iconStyle"></i></span>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6 details">
                    <div class="docTile"> {{'TodaysRefunds' | translate}}</div>
                    <div class="status">{{model.refundAmount}}</div>

                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="mini-stats-widget ">
                <div class="mini-stats-top">
                    <span class="mini-stats-label activeDoc upperCase">{{'NoOfVisitsAndPatients' | translate}}</span>
                </div>
                <div class="mini-stats-chart">
                    <p-chart #visitsBarChart type="bar" [data]="visitsBarChartData" [options]="barChartOptions"></p-chart>
                </div>
                <!--<div class="mini-stats-bottom">
                    <span><i class="ico-arrow-up"></i></span> Increase <span>20% </span>
                </div>-->
            </div>
        </div>
        <div class="col-md-6 col-sm-12   ">
            <div class="mini-stats-widget full-block-mini-chart">
                <div class="mini-stats-top">
                    <span class="mini-stats-label activeDoc upperCase">{{'Feedback' | translate }}</span>
                </div>
                <div class="mini-stats-chart" style="height: 260px;max-height: 260px;">
                    <p-chart #feedbackDoughnutChart type="doughnut" [data]="feedbackDoughnutdata"></p-chart>
                </div>
                <!--<div class="mini-stats-bottom w_bg_teal">
                    <span><i class="ico-arrow-up"></i></span> Increase <span>10% </span>
                </div>-->
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 ">
            <div class="mini-stats-widget">
                <div class="mini-stats-top">
                    <span class="mini-stats-label activeDoc upperCase">{{'WeekAppointments' | translate}}</span>
                </div>
                <div class="mini-stats-chart">
                    <p-chart #lineChart type="line" [data]="weekAppointments" [options]="options"></p-chart>
                </div>
            </div>
        </div>
    </div>

</div>


