<!--<button data-toggle="collapse" data-target="#SearchForInventoryItem">Search...</button>
<div id="SearchForInventoryItem" class="collapse row">-->
<div class="col-lg-offset-10">
    <print-page [section]='inventoriesListDiv'></print-page>

</div>
<br />

<div style="background-color: #f6f7f9 !important;" class="row well">
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input #gb type="text" class="inputSearch" pInputText size="50" [placeholder]="'Search' | translate">
    </div>
    <br />

    <!--<div class="col-md-2">

    </div>-->
    <div class="col-md-3">
        <input class="checHeight col-md-1" type="checkbox" id="activeItem" name="activeItem" #activeItem
            (change)="getAllActiveProducts(activeItem)" />
        <label class="txtStyle col-md-9">{{'ShowActiveItems' | translate }}</label>
    </div>
    <div class="col-md-3">
        <input type="checkbox" class="checHeight col-md-1" id="quantityIsNull" name="quantityIsNull" #quantityIsNull
            (change)="getAlluantityNulls(quantityIsNull)" />
        <label class="txtStyle col-md-9">{{'ShowNullQuantity' | translate}}</label>
    </div>

    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
        [placeholder]="'Search' | translate" />
    <!---New Table-->
    <p-table #dt [value]="clinicInventoriesList" dataKey="id" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,100]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['code','name','onHandQuantity','orderInQuantity','orderOutQuantity','minLevel','maxLevel','minNet','maxNet']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">{{'ItemCode' | translate}} <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name">{{'ItemName' | translate}} <p-sortIcon field="name">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="onHandQuantity">{{'OnhandQuantity' | translate}} <p-sortIcon
                        field="onHandQuantity">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="orderInQuantity">{{'OrderIn' | translate}} <p-sortIcon field="orderInQuantity">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="orderOutQuantity">{{'OrderOut' | translate}} <p-sortIcon field="orderOutQuantity">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="minLevel">{{'MinLevel' | translate}} <p-sortIcon field="minLevel">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="maxLevel">{{'MaxLevel' | translate}} <p-sortIcon field="maxLevel">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="minNet">{{'MinNet' | translate}} <p-sortIcon field="minNet">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="maxNet">{{'MaxNet' | translate}} <p-sortIcon field="minNet">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'Unit' | translate}} </span>
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>
                    {{item.code}}
                </td>
                <td>
                    <span>{{item.name}}</span>
                </td>
                <td>
                    {{item.onHandQuantity}}
                </td>
                <td>
                    {{item.orderInQuantity}}
                </td>
                <td>
                    {{item.orderOutQuantity}}
                </td>
                <td>
                    {{item.minLevel}}
                </td>
                <td>
                    {{item.maxLevel}}
                </td>
                <td>
                    {{item.minNet}}
                </td>
                <td>
                    {{item.maxNet}}
                </td>
                <td>
                    <label *ngIf="item.unitType === 'NumbersUnit'">{{ item.unitName | translate}}</label>
                    <label *ngIf="item.unitType == 'HeightsUnit' || item.unitType == 'WeightsUnit' || item.unitType == 'VolumesUnit'">
                        {{ item.unitName}}
                    </label>
                </td>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->

</div>

<div id="InventoriesPrintingArea" class="row hidden">
    <table class="table table-responsive table-bordered table-hover table-striped">
        <thead class="alert alert-info">
            <tr>
                <th>{{ 'ItemCode' | translate}}</th>
                <th>{{ 'ItemName' | translate}}</th>
                <th>{{ 'OnhandQuantity' | translate}}</th>
                <th>{{ 'OrderIn' | translate}}</th>
                <th>{{ 'OrderOut' | translate}}</th>
                <th>{{ 'MinLevel' | translate}}</th>
                <th>{{ 'MaxLevel' | translate}}</th>
                <th>{{ 'MinNet' | translate}}</th>
                <th>{{ 'MaxNet' | translate}}</th>
                <th>{{ 'Unit' | translate}}</th>
                <th>{{ 'LastPurchasePrice' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clinicInventoriesList | translateObjects  : null : null : lstToTranslated">
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td>{{item.onHandQuantity}}</td>
                <td>{{item.orderInQuantity}}</td>
                <td>{{item.orderOutQuantity}}</td>
                <td>{{item.minLevel}}</td>
                <td>{{item.maxLevel}}</td>
                <td>{{item.minNet}}</td>
                <td>{{item.maxNet}}</td>
                <td>{{item.unitName}}</td>
                <td>{{item.lastPurchasingPrice}}</td>
            </tr>
        </tbody>
    </table>
</div>