<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">
    <shared-tabs [activeTabIndex]="6"></shared-tabs>
    <div class="page-breadcrumb">
        <div class="NBbreadcrumb">
            <a>{{ 'InsuranceManagement' | translate}}</a> &nbsp;/
            {{ 'GenerateInvoices' | translate}}
        </div>
    </div>
    <div class="padding5">
        <form novalidate class="form-horizontal" name="searchForClaimsForm" #searchForClaimsForm="ngForm">
            <div class="row well">

                <div class="col-md-4 col-md-offset-8">
                    <button class="float-right btnMarginLeft  btn btn-primary" data-toggle="collapse" data-target="#SearchForClaims">{{ 'SearchForClaims' | translate}}</button>
                  <div  class="float-right btnMarginRight "><print-page [section]='toPrintDiv'></print-page></div> 
                </div>

            </div>
      
            <div id="SearchForClaims" class="collapse fa-border well">
                <div class="padding5 marginTop35">
                    <div class="row form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'Company' | translate}}</label>
                            <div class="col-md-3">
                                <select id="ddlCompanies" name="ddlCompanies" class="form-control" required
                                        [(ngModel)]='claimsSearchParameters.companyId'
                                        (change)="fillCompanyPolicies(ddlCompanies.value)" #ddlCompanies>
                                    <option>{{ 'Select' | translate}}</option>
                                    <option *ngFor="let item of companiesList | translateObjects" [value]="item.id">{{item.name}}</option>
                                </select>
                            </div>

                            <label class="col-md-2 control-label">{{ 'Policy' | translate}}</label>
                            <div class="col-md-3">
                                <select id="ddlPolicies" name="ddlPolicies" class="form-control"
                                        [(ngModel)]='claimsSearchParameters.policyId'>
                                    <option>{{ 'Select' | translate}}</option>
                                    <option *ngFor="let item of policiesList | translateObjects" [value]="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtName" class="col-md-2 control-label">{{ 'From' | translate}}</label>
                            <div class="col-md-3">
                                <p-calendar [(ngModel)]="periodStartDate"
                                            [monthNavigator]="true"
                                            [yearNavigator]="true"
                                            dateFormat="dd/mm/yy"
                                            [showIcon]="true"
                                            [ngModelOptions]="{standalone: true}"
                                            yearRange="2000:2050"></p-calendar>
                            </div>
                            <label for="txtName" class="col-md-2 control-label">{{ 'To' | translate}}</label>
                            <div class="col-md-3">
                                <p-calendar [(ngModel)]="periodEndDate"
                                            [monthNavigator]="true"
                                            [yearNavigator]="true"
                                            dateFormat="dd/mm/yy"
                                            [showIcon]="true"
                                            [ngModelOptions]="{standalone: true}"
                                            yearRange="2000:2050"></p-calendar>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <button type="button" class="btn btn-primary" (click)="searchForInvoiceClaims()" [disabled]="!searchForClaimsForm.valid || !enableViewCompanyDetails">{{ 'SearchBtn' | translate |uppercase}}</button>
                                <button type="button" class="btn btn-primary" (click)="generateInvoice()" [disabled]="!isGenerateInvoiceActive || !enableGenerateInvoicesBtn">{{'GenerateInvoice' | translate  |uppercase}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            
            <table class="tableBack table table-bordered responsive">
                <thead>
                    <tr class="thBack ">
                        <td>{{ 'NetAmount' | translate }}:</td>
                        <td>{{ 'TotalCredit' | translate }}:</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="thBack">
                        <th>{{totalAmount}}</th>
                        <th>{{prepaidBalance}}</th>
                      </tr>
                </tbody>
            </table>
            <br />
            <br />
            <!-- <p-dataTable [value]="claimsList  | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
                <p-column field="id" [header]="'ClaimRefNo' | translate" [sortable]="true"></p-column>
                <p-column field="creatorName" [header]="'CreatedBy' | translate" [sortable]="true"></p-column>
                <p-column field="claimDateString" [header]="'ClaimDate' | translate" [sortable]="true"></p-column>
                <p-column field="insurancePolicy" [header]="'PolicyName' | translate" [sortable]="true"></p-column>
                <p-column field="patientMrn" [header]="'MRN' | translate" [sortable]="true"></p-column>
                <p-column field="patientName" [header]="'PatientName' | translate" [sortable]="true"></p-column>
                <p-column field="doctorName" [header]="'DoctorName' | translate" [sortable]="true"></p-column>
                <p-column field="doctorDivision" [header]="'DoctorSpecialty' | translate" [sortable]="true"></p-column>
                <p-column field="totalAmountForInsuranceCompanyWithoutVAT" [header]="'ChargeAmount' | translate" [sortable]="true"></p-column>
                <p-column field="totalVatAmountForInsuranceCompany" [header]="'VATAmount' | translate" [sortable]="true"></p-column>
                <p-column field="totalAmountForInsuranceCompany" [header]="'TotalPrice' | translate" [sortable]="true"></p-column>
            </p-dataTable> -->
            <div id="print-section" class="hidden">
                <table class="table table-responsive table-hover">
                    <thead class="alert alert-info">
                        <tr>
                            <th>{{ 'ClaimRefNo' | translate}}</th>
                            <th>{{ 'CreatedBy' | translate}}</th>
                            <th>{{ 'ClaimDate' | translate}}</th>
                            <th>{{ 'PolicyName' | translate}}</th>
                            <th>{{ 'MRN' | translate}}</th>
                            <th>{{ 'PatientName' | translate}}</th>
                            <th>{{ 'DoctorName' | translate}}</th>
                            <th>{{ 'DoctorSpecialty' | translate}}</th>
                            <th>{{ 'ChargeAmount' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of claimsList | translateObjects">
                            <td>{{item.id}}</td>
                            <td>{{item.creatorName}}</td>
                            <td>{{item.claimDateString}}</td>
                            <td>{{item.insurancePolicy}}</td>
                            <td>{{item.patientMrn}}</td>
                            <td>{{item.patientName}}</td>
                            <td>{{item.doctorName}}</td>
                            <td>{{item.doctorDivision}}</td>
                            <td>{{item.totalAmountForInsuranceCompany}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>