<div >
    <loading></loading>
</div>

<form class="form-horizontal" name="addressForm" (ngSubmit)="onSubmit()" #addressForm="ngForm">

    <address [reachInfo]="clinicModel.reachInfo">
        <div >
            <button type="submit" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" class="btn btn-primary">{{ 'Save' | translate}}</button>
            <button type="button" disabled="{{ enableMyAccountBtn ? '' :'disabled'}}" class="btn btn-primary" routerLink="/systemAdmin/clinics">{{ 'Back' | translate}}</button>
        </div>
    </address>

</form>

