    <document-details  [parentType]="parentType" [isTemplateExist]="isTemplateExist" [fileType]="fileType" [fileNameTxt]='fileNameTxt'[showSelectedTemplates]='showSelectedTemplates' [noteId]='noteId' [fileNameUploadTxt]='fileNameUploadTxt'[showBackBtn]='showBackBtn' [attachementId]="patientAttachementId"  [title]="Attachment" (onAttachementSaved)="goBack()"></document-details>
<!--<div class="form-group">
    <div class="col-md-4 col-md-offset-2">
        <button class="btn btn-primary" type="button" (click)="goBack()">{{ 'Back' | translate}}</button>
    </div>
</div>-->