<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row">
        <div class="col-md-4 nopadding">
            <input type="text" [placeholder]="'Search' | translate" class="form-control" [(ngModel)]='filterString' />
        </div>
        <div class="col-md-8 align-reverse nopadding" *ngIf="allowEditing">
            <button type="button" class="btn btn-primary" (click)="showDetails()">{{ 'NewTest' | translate}}</button>
        </div>
    </div>
    <div class="padding2"></div>


    <!---New Table-->
    <p-table #dt [value]="radTests" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['radTestCode','nameTranslation']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="radTestCode">{{'ArabicName' | translate}} <p-sortIcon field="radTestCode">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="radTestName">{{'EnglishName' | translate}} <p-sortIcon field="radTestName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="quantity">{{'EnglishName' | translate}} <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="diagnoseName">{{'EnglishName' | translate}} <p-sortIcon field="diagnoseName">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'Delete' | translate}} </span>
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>
                    {{item.radTestCode}}
                </td>
                <td>
                    <span>{{item.radTestName}}</span>
                </td>
                <td>
                    <span>{{item.quantity}}</span>
                </td>
                <td>
                    <span>{{item.diagnoseName}}</span>
                </td>
                <td>
                    <a class="pointer" (click)="editItem(item.id)">
                        <img src="assets/images/edit-24.png" />
                    </a>
                </td>
                <td style="text-align: center">
                    <a data-toggle="modal" data-target="#deleteNoteRadTest" class="pointer"
                        (click)="selectRadTestToDelete(item.id)">
                        <img src="assets/images/DeleteRed.png" />
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->



</div>
<div id="divTable" class="padding5" *ngIf="isDetailsVisible">
    <patient-radiology-details [noteId]="noteId" [noteRadTestId]='noteRadtId' (onBack)="hideDetails()">
    </patient-radiology-details>
</div>


<div id="deleteNoteRadTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'DeleteConfirmation' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'AreYouSureDelete' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSelectedItem()" data-dismiss="modal">{{
                    'Yes' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
            </div>
        </div>

    </div>
</div>