<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row">
        <div class="col-md-4 nopadding">
            <input type="text" [placeholder]="'Search' | translate" class="form-control" [(ngModel)]='filterString' />
        </div>
        <div class="col-md-8 align-reverse nopadding" *ngIf="allowEditing">
            <button type="button" class="btn btn-primary" (click)="showDetails()">{{ 'NewTest' | translate}}</button>
        </div>
    </div>
    <div class="padding2"></div>
    <!-- <p-dataTable [value]="radTests | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
        <p-column field="radTestCode"[header]="'TestCode' | translate" [sortable]="true"></p-column>
        <p-column field="radTestName" [header]="'TestName' | translate" [sortable]="true"></p-column>
        <p-column field="quantity" [header]="'Quantity' | translate" [sortable]="true"></p-column>
        <p-column field="diagnoseName" [header]="'Diagnosis' | translate" [sortable]="true"></p-column>
        <p-column [header]="'Edit' | translate" styleClass="text-center width50">
            <ng-template let-noteRadtest="rowData" pTemplate="body">
                <a class="pointer" (click)="editItem(noteRadtest.id)">
                    <img src="assets/images/edit-24.png" />
                </a>
            </ng-template>
        </p-column>
        <p-column [header]="'Delete' | translate" styleClass="text-center width70">
            <ng-template let-noteRadtest="rowData" pTemplate="body">
                <a data-toggle="modal" data-target="#deleteNoteRadTest" class="pointer"
                   (click)="selectRadTestToDelete(noteRadtest.id)">
                    <img src="assets/images/DeleteRed.png" />
                </a>
            </ng-template>
        </p-column>
    </p-dataTable> -->


</div>
<div id="divTable" class="padding5" *ngIf="isDetailsVisible">
    <patient-radiology-details [noteId]="noteId" [noteRadTestId]='noteRadtId'  (onBack)="hideDetails()"></patient-radiology-details>
</div>


<div id="deleteNoteRadTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'DeleteConfirmation' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'AreYouSureDelete' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSelectedItem()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
            </div>
        </div>

    </div>
</div>