<div class="row">
        <shared-tabs [activeTabIndex]="6"></shared-tabs>
    <div class="row nopadding">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-breadcrumb-wrap">
                        <div class="page-breadcrumb-info">
                            <ul class="list-page-breadcrumb">
                                <li>
                                    <a >{{ 'ReceptionistProfile' | translate}}</a>
                                </li>
                                <li class="active-page"> {{ 'Account' | translate}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>

        <form class="form-horizontal" name="organizationForm" #organizationForm>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <button class="btn btn-primary" [disabled]="!organizationForm.valid">{{ 'Save' | translate}}</button>
                    <button class="btn btn-primary">{{ 'Cancel' | translate}}</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="txtUserName">{{ 'UserName' | translate}}</label>
                <div class="col-md-4">
                    <input id="txtUserName" name="txtUserName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="txtmail">{{ 'Email' | translate}}</label>
                <div class="col-md-4">
                    <input id="txtmail" name="txtmail" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="txtPassword">{{ 'Password' | translate}}</label>
                <div class="col-md-4">
                    <input type="password" id="txtPassword" name="txtPassword" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="txtconfirmPassword">{{ 'ConfirmPassword' | translate}}</label>
                <div class="col-md-4">
                    <input type="password" id="txtconfirmPassword" name="txtconfirmPassword" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <button class="btn btn-primary">{{ 'Save' | translate}}</button>
                    <button class="btn btn-primary">{{ 'Cancel' | translate}}</button>
                </div>
            </div>
        </form>

    </div>
</div>

