<div *ngIf="showProgress">
    <loading></loading>ServicePackage
</div>

<div class="row">
    <clinic-tab [isServicePackagesSelected]='selectServicePackagesTab' *ngIf="isClinicAdmin"></clinic-tab>
    <shared-tabs [isServicePackagesSelected]='selectServicePackagesTab' *ngIf="!isClinicAdmin"></shared-tabs>
    <div class="row ">
        <div class="row ">
            <div class="NBbreadcrumb">
                <a>{{ 'Clinic' | translate}}</a> &nbsp;/
                {{ 'ServicePackage' | translate}}
            </div>

        </div>

        <div>

            <div class="row well ">
                <div class="col-md-offset-8">
                    <print-page [section]='toPrintDiv'></print-page>
                    <button type="button" class="btn btn-primary" (click)="addServicePackage()"
                        disabled="{{ enableNewBtn || isClinicAdmin ? '' :'disabled'}}">{{ 'NewPackage' |
                        translate}}</button>
                    <br />
                </div>
            </div>

            <div class="wellBackOverride row well  ">
                <div class="inner-addon left-addon ">
                    <i class="glyphicon glyphicon-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        [placeholder]="'Search' | translate" />
                </div>
                <br />

                <!---New Table-->
                <p-table #dt [value]="servicePackagesList" dataKey="id" [rowHover]="true" [rows]="10"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                    [globalFilterFields]="['name','code']">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">{{'Name' | translate}} <p-sortIcon field="name">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="code">{{'Code' | translate}} <p-sortIcon field="code">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="clinicCharge">{{'ClinicCharges' | translate}} <p-sortIcon field="clinicCharge">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="resourceCharge">{{'ResourceCharges' | translate}} <p-sortIcon
                                    field="resourceCharge">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="totalCost">{{'TotalCost' | translate}} <p-sortIcon
                                    field="totalCost">
                                </p-sortIcon>
                            </th>
                            <th><span styleClass="text-center width70">{{'Active' | translate}} </span>
                            </th>
                            <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                            </th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr class="p-selectable-row">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                <span>{{item.code}}</span>
                            </td>
                            <td>
                                <span>{{item.clinicCharge}}</span>
                            </td>
                            <td>
                                <span>{{item.resourceCharge}}</span>
                            </td>
                            <td>
                                <span>{{item.totalCost}}</span>
                            </td>
                            <td>
                                <input id="ChkIsActiveInGrid" name="ChkIsActiveInGrid" class="ace ace-switch ace-switch-6"
                                       type="checkbox" [checked]="item.isActive"
                                       (click)="changeActivation(item.id , $event)" disabled="{{ enableActivateBtn || isClinicAdmin ? '' :'disabled'}}" />
                                <span class="lbl"></span>
                            </td>
                            <td style="text-align: center">
                                <a class="pointer" (click)="editServicePackage(item.id)" [class.disabled]="!enableEditBtn && !isClinicAdmin ? true : null">
                                    <i class="fa fa-pencil fa-2x" style="color: #32bea6;"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No data found.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!--End Table-->

            </div>

        </div>

        <div id="print-section" class="hidden">
            <div class="row text-center">
                <span class="user-thumb">
                    <img src="{{accountService.profileImagePath}}" alt="image">
                </span>
            </div>
            <table class="table table-responsive table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">{{'Name' | translate}}</th>
                        <th class="text-center">{{'Code' | translate}}</th>
                        <th class="text-center">{{'ClinicCharges' | translate}}</th>
                        <th class="text-center">{{'ResourceCharges' | translate}}</th>
                        <th class="text-center">{{'TotalCost' | translate}}</th>
                        <th class="text-center">{{'Active' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of servicePackagesList">
                        <td>{{ item.name }} </td>
                        <td class="text-center">{{ item.code }} </td>
                        <td class="text-center">{{ item.clinicCharge }} </td>
                        <td class="text-center">{{ item.resourceCharge }} </td>
                        <td class="text-center">{{ item.totalCost }} </td>
                        <td class="text-center">
                            <img *ngIf="item.isActive" src="assets/images/ok-24.jpg" title="Active" alt="Active" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>