<div >
    <loading></loading>
</div>

<div class="row">
    <shared-tabs [activeTabIndex]="4"></shared-tabs>
    <div class="row nopadding">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="row NBbreadcrumb">
                    <a>{{ 'DoctorProfile' | translate}}</a> &nbsp;/
                    {{ 'InventoryRequests' | translate}}
                </div>
                <div class="col-md-5 alert alert-info text-center">
                    <div class="col-md-5" *ngIf="hasMultiClincs">
                        <select id="ddlObjects" class="form-control" name="ddlObjects" (change)="setClinicId(d.value)" #d>
                            <option value="">{{ 'Select' | translate}}</option>
                            <option *ngFor="let obj of clinics" [value]="obj.id">{{obj.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-5" *ngIf="!hasMultiClincs">
                        {{selectedClinic.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row well ">
            <div class="col-md-4 col-md-offset-8 ">
                <div class="float-right ">
                    <a class="btn btn-primary" routerLink="/doctor/requestDetails/{{clinicId}}" [class.disabled]="!enableNewInventoryRequest ? true : null">{{ 'NewRequest' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="padding5">

            <div class="padding2"></div>

            <div class="row well" style="background-color: #f6f7f9 !important;">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input #gb type="text" pInputText size="50" class="inputSearch" [placeholder]="'Search' | translate">
                </div>

                <!-- <p-dataTable [value]="allInventoryRequestObjects | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
                    <p-column field="inventoryCode" [header]="'InventoryCode' | translate" [sortable]="true"></p-column>
                    <p-column field="itemName" [header]="'ItemName' | translate" [sortable]="true"></p-column>
                    <p-column [header]="'Unit' | translate">
                        <ng-template let-product="rowData" pTemplate="body">
                            <label *ngIf="product.unitType === 'NumbersUnit'">{{ product.unitName | translate}}</label>
                            <label *ngIf="product.unitType == 'HeightsUnit' || product.unitType == 'WeightsUnit' || product.unitType == 'VolumesUnit'">
                                {{ product.unitName}}
                            </label>

                        </ng-template>
                    </p-column>
                    <p-column field="quantity" [header]="'Quantity' | translate" [sortable]="true"></p-column>
                    <p-column field="suppliedQuantity" [header]="'SuppliedQuantity' | translate" [sortable]="true"></p-column>
                    <p-column field="inventoryRequestStatus" [header]="'Status' | translate" [sortable]="true"></p-column>
                    <p-column field="creationDateString" [header]="'OrderDate' | translate" [sortable]="true"></p-column>

                    <p-column field="id" header="Order Ref No" [header]="'OrderRefNo' | translate" [sortable]="true"></p-column>

                    <p-column [header]="'Delete' | translate" styleClass="text-center width70">
                        <ng-template let-request="rowData" pTemplate="body">
                            <a class="pointer" [class.disabled]="!enableDeleteInventoryRequest ? true : null">
                                <img src="assets/images/delete-24.png" (click)="deleteInventoryRequestPopUp(request.id)" *ngIf="request.inventoryRequestStatus =='Requested'" />
                            </a>
                        </ng-template>
                    </p-column>

                </p-dataTable> -->
            </div>
        </div>
    </div>
</div>

<button type="button" class="hidden" #btnOpenDeleteRequestPopup data-toggle="modal" data-target="#openDeleteRequestPopup"></button>

<div id="openDeleteRequestPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'DeleteConfirmation' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'AreYouSureDelete' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteInventoryRequest()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
            </div>
        </div>

    </div>
</div>