<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row">
        <div class="col-md-4 nopadding">
            <input pInputText type="text" [(ngModel)]='filterString'
                (input)="dt.filterGlobal($event.target.value, 'contains')" [placeholder]="'Search' | translate" />
        </div>

        <div class="col-md-8 align-reverse nopadding" *ngIf="allowEditing">
            <button type="button" class="btn btn-primary" (click)="showDetails()">{{ 'NewTest' | translate}} </button>
        </div>
    </div>
    <div class="padding2"></div>

    <!--<table class="table table-responsive table-hover">
        <thead class="alert alert-info">
            <tr>
                <th>Test Code</th>
                <th>Test Name </th>
                <th>Quantity</th>
                <th>Diagnsis</th>
                <th>Remarks</th>
                <th class="text-center" *ngIf="allowEditing">Edit </th>
                <th class="text-center" *ngIf="allowEditing"> Remove </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1255</td>
                <td>فحص 1</td>
                <td>2</td>
                <td>تشخيص 1</td>
                <td>ملاحظات ملاحظات ملاحظات ملاحظات </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer" (click)="showDetails()">
                        <img src="assets/images/edit-24.png" />
                    </a>
                </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer">
                        <img src="assets/images/delete-24.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>1220</td>
                <td>فحص 2</td>
                <td>2</td>
                <td>تشخيص 2</td>
                <td>ملاحظات ملاحظات ملاحظات ملاحظات </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer" (click)="showDetails()">
                        <img src="assets/images/edit-24.png" />
                    </a>
                </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer">
                        <img src="assets/images/delete-24.png" />
                    </a>
                </td>
            </tr>

        </tbody>
    </table>-->

    <!---New Table-->
    <p-table #dt [value]="labTests" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['labTestCode','labTestName','quantity','diagnoseName']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="labTestCode">{{'TestCode' | translate}} <p-sortIcon field="labTestCode">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="labTestName">{{'TestName' | translate}} <p-sortIcon field="labTestName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="quantity">{{'Quantity' | translate}} <p-sortIcon field="quantity">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="diagnoseName">{{'DiagnoseName' | translate}} <p-sortIcon field="diagnoseName">
                    </p-sortIcon>
                </th>
                <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                </th>
                <th><span styleClass="text-center width70">{{'Delete' | translate}} </span>
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>
                    {{item.labTestCode}}
                </td>
                <td>
                    <span>{{item.labTestName}}</span>
                </td>
                <td>
                    <span>{{item.quantity}}</span>
                </td>
                <td>
                    <span>{{item.diagnoseName}}</span>
                </td>
                <td>
                    <a class="pointer" (click)="editItem(item.id)">
                        <img src="assets/images/edit-24.png" />
                    </a>
                </td>
                <td style="text-align: center">
                    <a data-toggle="modal" data-target="#deleteNoteLabTest" class="pointer"
                        (click)="selectLabTestToDelete(item.id)">
                        <img src="assets/images/DeleteRed.png" />
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <!--End Table-->

    <!--noteLabTestId-->
</div>
<div id="divTable" class="padding5" *ngIf="isDetailsVisible">
    <patient-lab-details [noteId]="noteId" [noteLabTestId]='noteLabTestId' (onBack)="hideDetails()">
    </patient-lab-details>
</div>

<div id="deleteNoteLabTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> {{ 'DeleteConfirmation' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'AreYouSureDelete' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSelectedItem()" data-dismiss="modal">{{
                    'Yes' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
            </div>
        </div>

    </div>
</div>