<div id="divTable" class="padding5" *ngIf="!isDetailsVisible">
    <div class="row">
        <div class="col-md-4 nopadding">
            <input type="text" placeholder="Search..." class="form-control" [(ngModel)]='filterString' />
        </div>

        <div class="col-md-8 align-reverse nopadding" *ngIf="allowEditing">
            <button type="button" class="btn btn-primary" (click)="showDetails()">{{ 'NewTest' | translate}} </button>
        </div>
    </div>
    <div class="padding2"></div>

    <!--<table class="table table-responsive table-hover">
        <thead class="alert alert-info">
            <tr>
                <th>Test Code</th>
                <th>Test Name </th>
                <th>Quantity</th>
                <th>Diagnsis</th>
                <th>Remarks</th>
                <th class="text-center" *ngIf="allowEditing">Edit </th>
                <th class="text-center" *ngIf="allowEditing"> Remove </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1255</td>
                <td>فحص 1</td>
                <td>2</td>
                <td>تشخيص 1</td>
                <td>ملاحظات ملاحظات ملاحظات ملاحظات </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer" (click)="showDetails()">
                        <img src="Images/edit-24.png" />
                    </a>
                </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer">
                        <img src="Images/delete-24.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>1220</td>
                <td>فحص 2</td>
                <td>2</td>
                <td>تشخيص 2</td>
                <td>ملاحظات ملاحظات ملاحظات ملاحظات </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer" (click)="showDetails()">
                        <img src="Images/edit-24.png" />
                    </a>
                </td>
                <td class="text-center" *ngIf="allowEditing">
                    <a class="pointer">
                        <img src="Images/delete-24.png" />
                    </a>
                </td>
            </tr>

        </tbody>
    </table>-->
    <!-- <p-dataTable [value]="labTests | translateObjects  : null : null : lstToTranslated" selectionMode="single" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="gb">
        <p-column field="labTestCode"   [header]="'TestCode' | translate" [sortable]="true"></p-column>
        <p-column field="labTestName"   [header]="'TestName' | translate" [sortable]="true"></p-column>

        <p-column field="quantity"   [header]="'Quantity' | translate" [sortable]="true"></p-column>

        <p-column field="diagnoseName"   [header]="'DiagnoseName' | translate" [sortable]="true"></p-column>

        <p-column   [header]="'Edit' | translate" styleClass="text-center width50">
            <ng-template let-noteLabtest="rowData" pTemplate="body">
                <a class="pointer" (click)="editItem(noteLabtest.id)">
                    <img src="Images/edit-24.png" />
                </a>
            </ng-template>
        </p-column>
        <p-column  [header]="'Delete' | translate" styleClass="text-center width70">
            <ng-template let-noteLabtest="rowData" pTemplate="body">
                <a data-toggle="modal" data-target="#deleteNoteLabTest" class="pointer"
                   (click)="selectLabTestToDelete(noteLabtest.id)">
                    <img src="Images/DeleteRed.png" />
                </a>
            </ng-template>
        </p-column>
    </p-dataTable> -->
    <!--noteLabTestId-->
</div>
<div id="divTable" class="padding5" *ngIf="isDetailsVisible">
    <patient-lab-details  [noteId]="noteId" [noteLabTestId]='noteLabTestId' (onBack)="hideDetails()"></patient-lab-details>
</div>

<div id="deleteNoteLabTest" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> {{ 'DeleteConfirmation' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'AreYouSureDelete' | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSelectedItem()" data-dismiss="modal">{{ 'Yes' | translate}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'No' | translate}}</button>
            </div>
        </div>

    </div>
</div>