<form *ngIf="active" class="form-horizontal" name="manageRadiologyTestsGroupForm" #manageRadiologyTestsGroupForm="ngForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="txtName" class="control-label col-md-3"> {{ 'ParentGroup' | translate}}</label>
            <div class="col-md-9">
                {{selectedParentGroupName}}
            </div>
        </div>
        <div class="form-group">
            <label for="txtName" class="control-label col-md-3">{{ 'ArabicName' | translate}}</label>
            <div class="col-md-9">
                <input id="txtName" name="txtName" class="form-control" [(ngModel)]='selectedRadiologyTestsGroup.name' #txtName="ngModel" required />
                <div [hidden]="txtName.valid || txtName.pristine" class="alert alert-danger">
                    {{ 'RequiredField' | translate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtNameTranslation" class="control-label col-md-3"> {{ 'EnglishName' | translate}}</label>
            <div class="col-md-9">
                <input id="txtNameTranslation" name="txtNameTranslation" class="form-control" [(ngModel)]='selectedRadiologyTestsGroup.nameTranslation' #txtNameTranslation="ngModel" required />
                <div [hidden]="txtNameTranslation.valid || txtNameTranslation.pristine" class="alert alert-danger">
                    {{ 'RequiredField' | translate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtRadiologyTestsGroupRemark" class="control-label col-md-3"> {{ 'Remark' | translate}}</label>
            <div class="col-md-6">
                <textarea id="txtRadiologyTestsGroupRemark" name="txtRadiologyTestsGroupRemark" class="form-control" [(ngModel)]='selectedRadiologyTestsGroup.description'></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!manageRadiologyTestsGroupForm.valid ||(!enableSaveBtn && !isClinicAdmin)" (click)="saveRadiologyTestsGroup()">{{ 'Save' | translate}}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancelRadiologyTestsGroup()">{{ 'Cancel' | translate}}</button>
        </div>
    </div>
</form>