<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">
    <form *ngIf="active" class="form-horizontal" name="serviceFeesForm" #serviceFeesForm="ngForm">
        <div class="form-group">
            <label for="txtNameTranslation" class="control-label col-md-3"> {{ 'Services' | translate}}</label>
            <div class="col-md-9">
                <input name="txtSearchServices" [placeholder]="'SearchByNameorCode' | translate" class="form-control"
                    [(ngModel)]="filterString" />
                <div class="nopadding treeBorder" style="height:180px;">
                    <p-tree
                        [value]="servicesTree | translateObjects  : null : null : lstToBeTranslated | filterbynameorcode:filterString : leafType"
                        selectionMode="single" [(selection)]="selectedNode">
                        <ng-template let-node pTemplate="ServiceGroup">
                            <span class="nav-icon"><i class="fa fa-cubes"></i></span>
                            &nbsp;
                            {{node.label}}
                        </ng-template>
                        <ng-template let-node pTemplate="Service">
                            <span class="nav-icon"><i class="fa fa-cube"></i></span>
                            &nbsp;
                            {{node.label}}
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtClinicalFee" class="control-label col-md-3">{{ 'ClinicalFee' | translate}}</label>
            <div class="col-md-3">
                <input type="number" min="0" id="txtClinicalFee" name="txtClinicalFee" class="form-control"
                    [(ngModel)]='serviceFeeModel.clinicFee' #txtFee="ngModel" required />
            </div>
        </div>
        <div class="form-group">
            <label for="txtResourceFee" class="control-label col-md-3">{{ 'ResourceFee' | translate}}</label>
            <div class="col-md-3">
                <input type="number" min="0" id="txtResourceFee" name="txtResourceFee" class="form-control"
                    [(ngModel)]='serviceFeeModel.resourceFee' #txtTimeSlot="ngModel" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-primary"
                    [disabled]="!serviceFeesForm.form.valid ||(!enableSaveBtn && !isClinicAdmin)"
                    (click)="saveServiceFees()">{{ 'Save' | translate}}</button>
                <button type="button" class="btn btn-primary" (click)="clear()"
                    disabled="{{ enableSaveBtn || isClinicAdmin? '' :'disabled'}}">{{ 'New' | translate}}</button>
            </div>
        </div>
        <div class="row">
            <!---New Table-->
            <p-table #dt [value]="userServiceFees" dataKey="id" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,40,50,100]"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [filterDelay]="0" [globalFilterFields]="['serviceCode','serviceName','clinicFee','resourceFee']">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="serviceCode">{{'ServiceCode' | translate}} <p-sortIcon field="serviceCode">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="serviceName">{{'ServiceName' | translate}} <p-sortIcon field="serviceName">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="clinicFee">{{'ClinicalFee' | translate}} <p-sortIcon field="clinicFee">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="resourceFee">{{'ResourceFee' | translate}} <p-sortIcon field="resourceFee">
                            </p-sortIcon>
                        </th>
                        <th><span styleClass="text-center width70">{{'Edit' | translate}} </span>
                        </th>

                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="p-selectable-row">
                        <td>
                            {{item.serviceCode}}
                        </td>
                        <td>
                            <span>{{item.serviceName}}</span>
                        </td>
                        <td>
                            <span>{{item.clinicFee}}</span>
                        </td>
                        <td>
                            <span>{{item.resourceFee}}</span>
                        </td>
                        <td>
                            <a [class.disabled]="!enableSaveBtn && !isClinicAdmin ? true : null">
                                <i class="fa fa-pencil fa-2x" (click)="editServiceFee(item.id)" title="Edit Fees"
                                    style="color: #32bea6;"></i>
                            </a>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--End Table-->


        </div>

    </form>
</div>