/* You can add global styles to this file, and also import other style files */
.table-header{
    background-color: #6bafe2;
}


/* >>> New Styles ..New Design */

.nav-bar{
    display: contents !important;
}


.fc-timegrid-event-short .fc-event-main-frame{
    flex-direction:column !important;
}


/* >>> END New Styles ..New Design */
