<div *ngIf="showProgress">
    <loading></loading>
</div>

<div class="row">
    <shared-tabs [activeTabIndex]="15"></shared-tabs>
    <div class="row nopadding">
        <div class="page-breadcrumb">
            <div class="row ">
                <div class="NBbreadcrumb">
                    <a>{{ 'Cashier' | translate}}</a> &nbsp;/
                    <a>{{ 'Claims' | translate}}</a> &nbsp;/
                    {{ 'PatientTransactions' | translate}}
                </div>

            </div>
        </div>

        <div class="row well">
            <div class="txtRight col-md-4 col-md-offset-8 ">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#SearchForPatient">{{ 'Search' | translate}}</button>
            </div>        </div>
        <div id="SearchForPatient" class="collapse fa-border well">
            <div class="padding5 marginTop35">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label for="txtMRNRes" class="col-md-2 control-label">{{ 'PatientMRN' | translate}}</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [(ngModel)]='searchCriteria.patientClinicMRN' id="txtMRNRes" name="txtMRNRes" />
                            <a class="pointer" (click)="showDialog()">{{ 'PatientAdvancedSearch' | translate}}</a>
                        </div>

                        <p-dialog contentHeight="500" [header]="'SearchForPatient' | translate" [(visible)]="display" resizable="true" width="800" responsive="true" height="auto">
                            <patient-search [showActive]="showActive" [showEdit]="showEdit" [showSelect]="showSelect" [showClose]="showClose" (patientSelected)="managePatientSelection($event)"></patient-search>
                        </p-dialog>
                        <label for="txtName" class="col-md-2 control-label">{{ 'DoctorName' | translate}}</label>
                        <div class="col-md-3">
                            <!--<input type="text" class="form-control" [(ngModel)]='searchCriteria.doctorName' />-->
                            <select name="ddlsDoctorsList" [(ngModel)]='searchCriteria.doctorId' class="form-control" #ddlsDoctorsList>
                                <option value="0" selected>{{ 'Select' | translate}}</option>
                                <option *ngFor="let item of doctorsList | translateObjects" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtName" class="col-md-2 control-label">{{ 'Date' | translate}}</label>
                        <div class="col-md-3">
                            <select id="ddlDateFilters" name="ddlDateFilters" (change)="selectDateFilter(ddlDateFilters.value)" class="form-control" #ddlDateFilters>
                                <option>{{ 'Select' | translate}}</option>
                                <option *ngFor="let item of dateFiltersList | translateObjects" [value]="item.value">{{item.text| translate}}</option>
                            </select>
                        </div>
                        <label for="txtName" class="col-md-2 control-label">{{ 'Type' | translate}}</label>
                        <div class="col-md-5">
                            <table>
                                <tr>
                                    <td *ngFor="let item of claimSearchTypeList">
                                        <input type="radio" name="claimSearchType" (click)="selectClaimSearchType(item.value)"
                                               value={{item.value}}
                                               [checked]="item.value == defaultClaimSearch">&nbsp;{{item.text| translate}}
                                        &nbsp;&nbsp;
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <div *ngIf="displayChargeStatus">
                                <table>
                                    <tr>
                                        <td *ngFor="let item of chargeStatusList">
                                            <input type="radio" name="chargeStatus" (click)="selectChargeStatus(item.value)"
                                                   value={{item.value}}
                                                   [checked]="item.value == defaultChargeStatus">&nbsp;{{item.text| translate}}
                                            &nbsp;&nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isDurationVisible">
                        <label for="txtDuration" class="col-md-2 control-label">{{durationLabel}}</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [(ngModel)]='searchCriteria.duration' />
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isPeriodOfTimeVisible">
                        <label for="txtName" class="col-md-2 control-label">{{ 'From' | translate}}</label>
                        <div class="col-md-3">
                            <p-calendar [(ngModel)]="searchCriteria.startDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
                                        showIcon="true" required="true" [ngModelOptions]="{standalone: true}" yearRange="2000:2050"></p-calendar>
                        </div>
                        <label for="txtName" class="col-md-2 control-label">{{ 'To' | translate}}</label>
                        <div class="col-md-3">
                            <p-calendar [(ngModel)]="searchCriteria.endDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
                                        showIcon="true" required="true" [ngModelOptions]="{standalone: true}" yearRange="2000:2050"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <button type="button" class="btn btn-primary" disabled="{{ enableSearchForPatient ? '' :'disabled'}}" (click)="getPatientTransactions()">{{ 'Search' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="emptyDiv" style="padding:2px;">
        </div>

        <div class="row">
            <div class="row well">
                <div class="row">
                    <div class="col-md-8">
                            <label class="labelSucess labelSize btn label-success">
                                {{ 'UnifiedMRN' | translate}} : {{patient != null ? patient.unifiedMRN : ''}}
                            </label>
                            <label class="labelSucess labelSize btn label-pink">
                                {{ 'ClinicMRN' | translate}} : {{patient != null ? patient.clinicMRN : ''}}
                            </label>
                        <h3 class="h3Deco">
                            {{patient != null ? patient.name : '' }}
                        </h3>
                        <!--<p class="forum-sub-title">
                            <span class="topic-meta">
                                <em>
                                    <strong>
                                        {{ 'Description' | translate}}:
                                    </strong>
                                    {{model.patient.description}}
                                </em>
                            </span>
                        </p>-->
                    </div>
                    <div class="col-md-4">
                        <div class="forum-meta">
                            <div class="forum-meta-info">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="labelStyle"> <strong>{{ 'PrePaidBalance' | translate}}:</strong> &nbsp;{{prePaidBalanceAmount}}</label>
                                    </li>
                                    <li>
                                        <label class="labelStyle"> <strong>{{ 'Pending' | translate}}:</strong>&nbsp;{{pendingAmount}} </label>
                                    </li>
                                    <li>
                                        <label class="labelStyle"> <strong> {{ 'AmountToPay' | translate}}:</strong>&nbsp; {{amountToPay}} </label>
                                    </li>
                                    <li>
                                        <label class="labelStyle"> <strong> {{ 'Net' | translate}}:</strong>&nbsp; {{ pendingAmount - prePaidBalanceAmount }} </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <button type="button" disabled="{{ enableRefundClaimBtn ? '' :'disabled'}}" class="btn btn-primary" data-toggle="modal" data-target="#refund">{{ 'Refund' | translate}}</button>
                    <button type="button" disabled="{{ (patient != null && patient.id != undefined) ? '' :'disabled'}}" class="btn btn-success" data-toggle="modal" data-target="#patientPrepaidPayment">{{ 'Payments' | translate}}</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pateitnAttachments" disabled="{{ (enableAttachmentBtn && isPatientSelected) ? '' :'disabled'}}">{{ 'Attachments' | translate}}</button>
                </div>

            </div>
        </div>

      
        <br />
        <br />

        <div class="row" *ngIf="allCharges.length">
            <cashier-claim-services [showPrintButton]="displayPrintButton"
                                    [displayColumnDate]="displayColumnDate"
                                    [passedCharges]="allCharges"
                                    [passedPatient]="patient"
                                    (onAmountUpdated)="updateAmount($event)"
                                    (onChargeSelected)="updateAmountToPay($event)"></cashier-claim-services>
        </div>

        <div class="row" *ngIf="allPatientPayments.length">

            <print-page [section]='patientPaymentDiv'></print-page>

            <div class="ui-widget-header searchWidget">
                <i class="fa fa-search searchIcon"></i>
                <input #searchTransactions type="text" pInputText size="50" placeholder="Search...">
            </div>
            <!-- <p-dataTable [value]="allPatientPayments | translateObjects  : null : null : lstToTranslated" [paginator]="true" rows="10" [rowsPerPageOptions]="[5,10,20,30,40,50,100]" [responsive]="true" reorderableColumns="true" [globalFilter]="searchTransactions">
                <p-column field="id" [header]="'TransactionRefNo' | translate" [sortable]="true"></p-column>
                <p-column field="dateTimeString" [header]="'TransactionDate' | translate" [sortable]="true"></p-column>
                <p-column field="paymentTypeName" [header]="'TransactionType' | translate" [sortable]="true"></p-column>
                <p-column field="paymentMethodName" [header]="'TransactionMethod' | translate" [sortable]="true"></p-column>
                <p-column field="amount" [header]="'Amount' | translate" [sortable]="true"></p-column>
                <p-column field="chargesAsString" [header]="'Charges' | translate" [sortable]="true"></p-column>
                <p-column field="description" [header]="'Remarks' | translate" [sortable]="true"></p-column>
                <p-column [header]="Details" styleClass="text-center width70 hidden">
                    <ng-template let-item="rowData" pTemplate="body">
                        <a *ngIf="item.id" data-toggle="modal" [class.disabled]="!enableViewPatientPaymentBtn ? true : null" data-target="#PayService" class="underLinelinkText pointer" (click)="getPatientPaymentById(item.id)">View Payment</a>
                    </ng-template>
                </p-column>
            </p-dataTable> -->
            <div class="row">
            </div>
        </div>

        <div id="printArea" class="row hidden">
            <div class="row text-center">
                <span class="user-thumb">
                    <img src="{{accountService.profileImagePath}}" alt="image">
                </span>
            </div>

            <div class="row">
                <div class="forum-header">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <label class="label label-success">
                                    {{ 'UnifiedMRN' | translate}} : {{patient != null ? patient.unifiedMRN : ''}}
                                </label>
                                <label class="label label-pink">
                                    {{ 'ClinicMRN' | translate}} : {{patient != null ? patient.clinicMRN : ''}}
                                </label>
                            </div>
                            <h2 class="forum-title">
                                {{patient != null ? patient.name : ''}}
                            </h2>
                        </div>
                        <div class="col-md-4">
                            <div class="forum-meta">
                                <div class="forum-meta-info">
                                    <ul>
                                        <li>
                                            <label>{{ 'PrePaidBalance' | translate}}:</label>&nbsp; {{prePaidBalanceAmount}}
                                        </li>
                                        <li>
                                            <label>{{ 'Pending' | translate}}: </label>&nbsp;{{pendingAmount}}
                                        </li>
                                        <li>
                                            <label>{{ 'AmountToPay' | translate}}: </label>&nbsp; {{amountToPay}}
                                        </li>
                                        <li>
                                            <label>{{ 'Net' | translate}}: </label>&nbsp; {{ pendingAmount - prePaidBalanceAmount }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding5">&nbsp;</div>

            <table class="table table-responsive table-bordered table-striped">
                <thead class="alert alert-info">
                    <tr>
                        <th>{{ 'TransactionRefNo' | translate}}</th>
                        <th>{{ 'TransactionDate' | translate}}</th>
                        <th>{{ 'TransactionType' | translate}}</th>
                        <th>{{ 'TransactionMethod' | translate}}</th>
                        <th>{{ 'Amount' | translate}}</th>
                        <th>{{ 'Charges' | translate}}</th>
                        <th>{{ 'Remarks' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allPatientPayments | translateObjects  : null : null : lstToTranslated">
                        <td>{{item.id}}</td>
                        <td>{{item.dateTimeString}}</td>
                        <td>{{item.paymentTypeName}}</td>
                        <td>{{item.paymentMethodName}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.chargesAsString}}</td>
                        <td>{{item.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="hidden">
    <button type="button" #btnOpenPaymentPopup class="btn btn-primary" data-toggle="modal" data-target="#PayService"></button>
</div>

<div id="PayService" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'PatientPayment' | translate}}</h4>
            </div>
            <form *ngIf="active" class="form-horizontal" name="savePatientPaymentfrm" #savePatientPaymentfrm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'TransactionRefNo' | translate}}</label>
                        <div class="col-md-6">
                            <input name="txtReferenceNo" class="form-control" [(ngModel)]='payment.id' #txtReferenceNo="ngModel" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'TransactionDate' | translate}}</label>
                        <div class="col-md-6">
                            <input name="txtPaymentDate" class="form-control" [(ngModel)]="payment.dateTimeString" #txtPaymentDate="ngModel" disabled />
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePaymentDate">{{ 'Change' | translate}}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'TransactionType' | translate}}</label>
                        <div class="col-md-6">
                            <!--<select disabled class="form-control" name="ddlTransactionTypes"
                                    [(ngModel)]="payment.paymentTypeId" #ddlTransactionTypes="ngModel" required>
                                <option *ngFor="let type of paymentTypes" [value]="type.id">{{type.name}}</option>
                            </select>-->
                            <input name="txtPaymentType" class="form-control" [(ngModel)]="payment.paymentTypeName" #txtPaymentType="ngModel" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'TransactionMethod' | translate}}</label>
                        <div class="col-md-6">
                            <select disabled class="form-control" name="ddlTransactionMethods" [(ngModel)]="payment.paymentMethodId" #ddlTransactionMethods="ngModel" required>
                                <option *ngFor="let method of paymentMethods | translateObjects" [value]="method.id">{{method.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePaymentMethod">Change</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'TransactionAmount' | translate}}</label>
                        <div class="col-md-6">
                            <input type="number" class="form-control" name="txtAmount" [(ngModel)]="payment.amount" #txtAmount="ngModel" required readonly disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'Charges' | translate}}</label>
                        <div class="col-md-6">
                            <textarea disabled name="txtCharges" class="form-control" [(ngModel)]='payment.chargesAsString' #txtCharges="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'Remarks' | translate}}</label>
                        <div class="col-md-6">
                            <textarea disabled name="txtRemarks" class="form-control" [(ngModel)]='payment.description' #txtRemarks="ngModel"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="changePaymentDate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'ChangePaymentDate' | translate}}</h4>
            </div>

            <form *ngIf="active" class="form-horizontal" name="changePaymentDateForm" #changePaymentDateForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'NewPaymentDate' | translate}}</label>
                        <div class="col-md-6">
                            <p-calendar [(ngModel)]="payment.date" [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
                                        showIcon="true" required="false" [ngModelOptions]="{standalone: true}" yearRange="2000:2050"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'ChangeReason' | translate}}</label>
                        <div class="col-md-6">
                            <textarea name="txtchangeDateReason" class="form-control" [(ngModel)]='payment.changeDateReason' #txtchangeDateReason="ngModel" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!changePaymentDateForm.form.valid || !enableChangePaymentDateBtn" (click)="savePatientPayment()">Confirm Change</button>
                        <button type="button" disabled="{{ enableChangePaymentDateBtn ? '' :'disabled'}}" class="btn btn-primary" data-dismiss="modal">Ignore</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="changePaymentMethod" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'ChangePaymentMethod' | translate}} </h4>
            </div>

            <form *ngIf="active" class="form-horizontal" name="changePaymentMethodForm" #changePaymentMethodForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'NewPaymentMethod' | translate}} </label>
                        <div class="col-md-6">
                            <select class="form-control" name="ddlTransactionMethods" [(ngModel)]="payment.paymentMethodId" #ddlTransactionMethods="ngModel" required>
                                <option *ngFor="let method of paymentMethods | translateObjects" [value]="method.id">{{method.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ 'ChangeReason' | translate}}</label>
                        <div class="col-md-6">
                            <textarea name="txtMethodChangeReason" class="form-control" [(ngModel)]='payment.changeMethodReason' #txtMethodChangeReason="ngModel" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!changePaymentMethodForm.form.valid ||!enableChangePaymentDateBtn " (click)="savePatientPayment()">{{ 'ConfirmChange' | translate}}</button>
                        <button type="button" disabled="{{ enableChangePaymentDateBtn ? '' :'disabled'}}" class="btn btn-primary" data-dismiss="modal">{{ 'Ignore' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="refund" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'RefundFromPrepaid' | translate}}</h4>
            </div>

            <form *ngIf="active" class="form-horizontal" name="refundForm" #refundForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'Amount' | translate}}</label>
                        <div class="col-md-6">
                            <input type="number" min="0" name="txtRefundAmount" class="form-control" [(ngModel)]='refundModel.amount' #txtRefundAmount="ngModel" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'RefundReason' | translate}}</label>
                        <div class="col-md-6">
                            <textarea name="txtRefundReason" class="form-control" [(ngModel)]='refundModel.remarks' #txtRefundReason="ngModel" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!refundForm.form.valid || !enableRefundClaimBtn" (click)="refundFromPrepaid()">{{'Confirm' | translate}}</button>
                        <button type="button" disabled="{{ enableRefundClaimBtn ? '' :'disabled'}}" class="btn btn-primary" data-dismiss="modal">{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="pateitnAttachments" class="modal fade" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'PatientAttachments' | translate}}</h4>
            </div>
            <div class="modal-body">
                <documents [parentId]="selectedPatientId"
                           [title]="Attachement"
                           [parentType]='parentType'
                           [showDocumentDetails]="showDocumentDetails"
                           [btnUploadText]="btnUploadText"
                           [fileType]="fileType"
                           [fileNameTxt]='fileNameTxt'
                           [fileNameUploadTxt]='fileNameUploadTxt'></documents>
            </div>
        </div>

    </div>
</div>

<div id="patientPrepaidPayment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{'PrePaidBalance' | translate}}</h4>
            </div>
            <form *ngIf="active" class="form-horizontal" name="prepaidPaymentForm" #prepaidPaymentForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'Amount' | translate}}</label>
                        <div class="col-md-6">
                            <input type="number" min="0" name="txtPrepaidAmount" class="form-control" [(ngModel)]='prepaidAmount' #txtPrepaidAmount="ngModel" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'TransactionMethod' | translate}}</label>
                        <div class="col-md-6">
                            <select class="form-control" name="ddlPaymentMethods"
                                    [(ngModel)]="paymentMethodId" required>
                                <option class="emptyOption" value="" selected></option>
                                <option *ngFor="let method of paymentMethods | translateObjects" [value]="method.id">{{method.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">{{'Remarks' | translate}}</label>
                        <div class="col-md-6">
                            <textarea name="txtPrePaidRemarks" class="form-control" [(ngModel)]='PrePaidRemarks' #txtPrePaidRemarks="ngModel" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!prepaidPaymentForm.form.valid" (click)="updatePrepaidBalance()">{{'Add' | translate}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
