<div *ngIf="showProgress">
    <loading></loading>
</div>

<div *ngIf="showLoading">
    <loading></loading>
</div>

<div class="row">
    <shared-tabs [activeTabIndex]="9"></shared-tabs>
    <div class="row nopadding">

        <div class="row NBbreadcrumb">
            <a>{{ 'ReceptionistProfile' | translate}}</a> &nbsp;/
            {{ 'Appointments' | translate}}
        </div>

        <div class="row well">
            <div class="col-md-3 nopadding">
                <div class="row nopadding" style="padding-bottom: 17px !important;">
                    <a class="pointer  btn btn-primary" (click)="expandAll()" style="padding:9px !important;">{{
                        'ExpandAll' | translate}}</a>
                    <a class="pointer  btn btn-primary" (click)="collapseAll()" style="padding:9px !important;">{{
                        'CollapseAll' | translate}}</a>
                </div>
                <!--<p-tree [value]="items"
                selectionMode="single"
                [(selection)]="selectedDoctor"></p-tree>-->

                <p-tree [value]="organizationStructureTree" selectionMode="single" [(selection)]="selectedDoctor"
                    (onNodeSelect)="nodeSelect($event)">
                    <ng-template let-node pTemplate="Medical">
                        {{lang == 'ar' ? node.label : node.labelTranslation}}
                    </ng-template>
                    <ng-template let-node pTemplate="NonMedical">
                        {{lang == 'ar' ? node.label : node.labelTranslation}}
                    </ng-template>
                    <ng-template let-node pTemplate="ClinicDepartment">
                        {{lang == 'ar' ? node.label : node.labelTranslation}}
                    </ng-template>
                    <ng-template let-node pTemplate="ClinicDivision">
                        {{lang == 'ar' ? node.label : node.labelTranslation}}
                    </ng-template>
                    <ng-template let-node pTemplate="SecurityUser">
                        <span class="glyphicon glyphicon-user"></span>
                        {{lang == 'ar' ? node.label : node.labelTranslation}}
                    </ng-template>
                </p-tree>
            </div>
            <div class="col-md-9 padding5">

                <div class="row btnDirection" style="padding-bottom: 13px !important;">
                    <button type="button" class="btn btn-primary" (click)="addNewAppointment()"
                        [disabled]="!isDoctorSelected || !enableNewAppointmentBtn">
                        <span class="glyphicon glyphicon-time"></span> {{ 'NewAppointment' | translate}}
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#quickRegistrationModal"
                        [disabled]="!isDoctorSelected || !enableQuickRegistrationBtn">
                        <span class="glyphicon glyphicon-plus"></span>{{ 'QuickRegistration' | translate}}
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {{ 'Slot' | translate}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a *ngIf="isDoctorSelected" class="pointer"
                                    (click)="showSessionExtensionPopupForOpenSlot()"
                                    [class.disabled]="!enableOpenSlotBtn ? true : null">{{ 'Open' | translate}}</a>
                                <a *ngIf="!isDoctorSelected" class="disabled">{{ 'Open' | translate}}</a>
                            </li>
                            <li>
                                <a *ngIf="isDoctorSelected" class="pointer"
                                    (click)="showSessionExtensionPopupForCloseSlot()"
                                    [class.disabled]="!enableCloseSlot ? true : null">{{ 'Close' | translate}}</a>
                                <a *ngIf="!isDoctorSelected" class="disabled">{{ 'Close' | translate}}</a>
                            </li>
                            <li>
                                <a *ngIf="isDoctorSelected" class="pointer" (click)="showRestoreTimeSlotsPopup()"
                                    [class.disabled]="!enableRestoreSlot ? true : null">{{ 'Restore' | translate}}</a>
                                <a *ngIf="!isDoctorSelected" class="disabled">{{ 'Restore' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchForPatient">
                        <span class="glyphicon glyphicon-search"></span> {{ 'Search' | translate}}
                    </button>

                </div>

                <!--Doctor Info-->
                <div class="row" *ngIf="isDoctorSelected">
                    <div class="forum-header" style="margin-left:0px;margin-right:0px;padding:5px;border-radius: 10px;">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="forum-title">
                                    {{lang == 'ar' ? currentDoctor.name : currentDoctor.nameTranslation}}
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <div class="forum-meta" style="margin-bottom:0px;">
                                    <div class="forum-meta-info">
                                        <ul>
                                            <li>
                                                <label>{{ 'Gender' | translate}}:</label>&nbsp; {{ currentDoctor.gender
                                                | translate}}
                                            </li>
                                            <li>
                                                <label>{{ 'Nationality' | translate}}:</label>&nbsp; {{lang == 'ar' ?
                                                currentDoctor.nationality : currentDoctor.nationalityTranslation}}
                                            </li>

                                            <!--<li>
                                                <label>{{ 'Mobile' | translate}}: </label>&nbsp;{{currentDoctor.Mobile}}
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:2px;"></div>
                </div>

                <div *ngIf="!isDivisionSelected">
                    <!-- <p-schedule #pSchedule
                                [events]="events"
                                [header]="header"
                                [editable]="false"
                                defaultView="agendaWeek"
                                [options]="calendarOptions"
                                [defaultDate]="defaultDate"
                                [allDaySlot]="true"
                                [slotDuration]="calendarSlotDuration"
                                [slotLabelInterval]="calendarSlotDuration"
                                [contentHeight]="500"
                                [scrollTime]="12"
                                allDayText=""
                                (onEventClick)="handleEventClick($event)"
                                (onViewRender)="handleloadEvents($event)"
                                (onNavLinkDayClick)="handleNavDayClick($event)"></p-schedule> -->
                    <full-calendar #fullCallendar [options]="calendarOptions"></full-calendar>
                </div>
                <div *ngIf="isDivisionSelected">
                    <receptionist-division-calendar [divisonId]="divisonId" [divisonName]="divisonName">
                    </receptionist-division-calendar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<button type="button" data-toggle="modal" data-target="#bookOrCloseModal" style="display:none"
    #bookOrCloseModalButton></button>
<div id="bookOrCloseModal" #bookOrCloseModal class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog halfWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'SelectAction' | translate}}</h4>
            </div>
            <div class="modal-body text-center">
                <button type="button" class="btn btn-primary" (click)="prepareAndShowNewAppointmentModal()">{{
                    'BookNewAppointment' | translate}}</button>
                <button type="button" class="btn btn-primary" (click)="prepareAndShowCloseSlotsModal()">{{ 'CloseSlots'
                    | translate}}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="display:none"
                    #btnCloseBookOrCloseModal>{{ 'Cancel' | translate}}</button>
            </div>
        </div>

    </div>
</div>

<button type="button" data-toggle="modal" data-target="#appointmentModal" style="display:none"
    #appointmentModalButton></button>
<div id="appointmentModal" #appointmentModal class="modal fade" role="dialog" data-backdrop="static">
    <form *ngIf="active" class="form-horizontal" name="appointmentDetailsFrm" #appointmentDetailsFrm="ngForm">
        <div class="modal-dialog width75percent">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" #btnCloseAppointmentPopup class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'AppointmentDetails' | translate}} - {{doctorName}}</h4>
                </div>
                <div class="modal-body ">
                    <div *ngIf="showProgress">
                        <loading></loading>
                    </div>
                    <div class="row alert alert-info" style="margin-bottom: 5px!important;padding:4px!important;">
                        {{waitInInquiry}}
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Division' | translate}}
                        </label>
                        <div class="col-md-4">
                            {{selectedDivisionName}}
                        </div>
                        <div class="col-md-6">
                            <a class="pointer" *ngIf="appointmentModel.id!=0" (click)="openPatientProfile()">{{
                                'OpenPatientFile' | translate}}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Date' | translate}}
                        </label>
                        <div class="col-md-10">
                            <p-calendar [(ngModel)]="selectedDate" [monthNavigator]="true" [yearNavigator]="true"
                                dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="2000:2050"
                                (onSelect)="onDateSelect($event)"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Time' | translate}}
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" id="ddlTime" name="ddlTime" [(ngModel)]="selectedTimeSlot"
                                #ddlTime="ngModel" required>
                                <option *ngFor="let itm of timeSlotsList" [value]="itm.name">{{itm.name}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'NumberOfTimeSlots' | translate}}
                        </label>
                        <div class="col-md-4">
                            <input type="number" min="1" id="txtNumberOfTimeSlots" name="txtNumberOfTimeSlots"
                                class="form-control" [(ngModel)]='numberOfTimeSlots' #txtNumberOfTimeSlots="ngModel"
                                required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'MRN' | translate}}
                        </label>
                        <div class="col-md-4">
                            <div class="row nopadding">
                                <div class="col-md-6 nopadding">
                                    <input id="txtPatientClinicMrn" name="txtPatientClinicMrn" class="form-control"
                                        [(ngModel)]='patientClinicMrn' #txtPatientClinicMrn="ngModel" required
                                        [disabled]="appointmentModel.id>0" />
                                </div>
                                <div class="col-md-6">
                                    <button *ngIf="appointmentModel.id==0" type="button" class="btn btn-primary"
                                        (click)="getPatient()">{{ 'Search' | translate}}</button>
                                </div>
                            </div>
                            <div class="row nopadding">
                                <a class="pointer" *ngIf="appointmentModel.id==0"
                                    (click)="showPatientAdvancedSearchDialog()">{{ 'PatientAdvancedSearch' |
                                    translate}}</a>
                            </div>
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'PatientName' | translate}}
                        </label>
                        <div class="col-md-4">
                            <input id="txtPatientName" name="txtPatientName" class="form-control"
                                [(ngModel)]='patientName' #txtPatientName="ngModel" readonly required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Class' | translate}}

                        </label>
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <td *ngFor="let item of appointmentClassesList | translateObjects">
                                        <input type="radio" name="appClass" (click)="selectAppointmentClass(item.id)"
                                            [value]="item.id" [checked]="item.id == appointmentModel.appointmentClassId"
                                            required /> {{item.name}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'Service' | translate}}
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" name="ddlServices" required
                                [(ngModel)]="appointmentModel.serviceTimeSlotId" #ddlServices="ngModel" #srv
                                (change)="getServiceTimeSlots(srv.value)">
                                <option class="emptyOption" value="" selected></option>
                                <option
                                    *ngFor="let itm of serviceTimeSlotsList | translateObjects  : null : null : lstToTranslated"
                                    [value]="itm.id">{{lang == 'ar' ? itm.serviceName : itm.serviceNameTranslation}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Confirmed' | translate}}
                        </label>
                        <div class="col-md-2">
                            <input type="checkbox" class="form-control" id="chkConfirmed" name="chkConfirmed"
                                [(ngModel)]="appointmentModel.confirmed" #chkConfirmed="ngModel" />
                        </div>
                        <label class="control-label col-md-1">
                            {{ 'Flag' | translate}}
                        </label>
                        <div class="col-md-2">
                            <input type="checkbox" class="form-control" id="chkFlag" name="chkFlag"
                                [(ngModel)]="appointmentModel.flag" #chkFlag="ngModel" />
                        </div>

                        <!--<div class="col-md-2  ">
                            {{ 'VisitType' | translate}}
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" id="ddlVisitType" name="ddlVisitType" required
                                    [(ngModel)]="appointmentModel.visitTypeId" #ddlVisitType="ngModel">
                                <option *ngFor="let itm of visitTypesList | translateObjects" [value]="itm.id">{{itm.name}}</option>
                            </select>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Remarks' | translate}}
                        </label>
                        <div class="col-md-10">
                            <textarea id="txtRemarks" name="txtRemarks" class="form-control"
                                [(ngModel)]="appointmentModel.description"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <button type="button" class="btn btn-primary" (click)="saveOrUpdateAppointment()"
                            [disabled]="!appointmentDetailsFrm.form.valid || !enableSaveAppointmentPopupBtn">{{ 'Save' |
                            translate}}</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" #btnClostAppointmentModal>{{
                            'Cancel' | translate}}</button>
                        <button type="button" (click)="showDialog()" class="btn btn-primary"
                            disabled="{{ isUpdatedAppointment && enableSetArrivalTimeBtn ? '' :'disabled'}}">{{'ArrivalTime'
                            | translate}}</button>
                        <button type="button" (click)="showRepeatAppointmentPopup()" class="btn btn-primary"
                            disabled="{{ isUpdatedAppointment ? '' :'disabled'}}">{{'Repeat' | translate}}</button>
                        <button type="button" (click)="showCancelationDialog()" class="btn btn-primary"
                            disabled="{{ isUpdatedAppointment && enableCancelAppointmentBtn ? '' :'disabled'}}">{{'CancelAppointment'
                            | translate}}</button>
                        <button type="button" (click)="showReconfirmDialog()" class="btn btn-primary"
                            disabled="{{ isUpdatedAppointment ? '' :'disabled'}}">{{'Reconfirm' | translate}}</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<!-- <p-dialog id="addArrivalTime" header="{{title}}" [(visible)]="display" [width]="600" [modal]="modal" [responsive]="true" *ngIf="isAddArrivalTime">
    <form *ngIf="active" class="form-horizontal well">
        <div class="form-group">
            <label class="control-label col-md-4">
                {{ ' ArrivalTime' | translate}}
            </label>
            <div class="col-md-4">
                <p-calendar name="arrivalTime" [(ngModel)]="arrivalTime"
                            [required]="true" [timeOnly]="true" [ngModelOptions]="{standalone: true}"></p-calendar>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <button type="button" class="btn btn-primary" (click)="updateArrivalTime()">{{ 'Add' | translate}}</button>
            </div>
        </div>
    </form>
</p-dialog> -->
<!-- <p-dialog id="reconfirmAppointment" header="{{title1}}" [(visible)]="display" [width]="600" modal="modal" responsive="true" *ngIf="isReconfirmedAppointment">
    <form *ngIf="active" class="form-horizontal well">
        <div class="form-group">
            <label class="control-label col-md-2">
                {{ 'Reconfirm' | translate}}
            </label>
            <div class="col-md-4">
                <input type="checkbox" id="chkReconfirm" name="chkReconfirm" [(ngModel)]="appointmentModel.reconfirm" #chkReconfirm="ngModel" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                {{ 'CallingDate' | translate}}


            </label>
            <div class="col-md-4">
                <p-calendar [(ngModel)]="reconfirmDate"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true" [required]="true"
                            [ngModelOptions]="{standalone: true}"
                            yearRange="2000:2050"></p-calendar>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                {{ 'CallingTime' | translate}}
            </label>
            <div class="col-md-4">
                <p-calendar name="reconfirmationTime" [(ngModel)]="reconfirmTime"
                            [required]="true" [timeOnly]="true" [ngModelOptions]="{standalone: true}"></p-calendar>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                {{ 'ReconfirmRemarks' | translate}}
            </label>
            <div class="col-md-10">
                <textarea id="txtReconfirmRemarks" name="txtReconfirmRemarks" class="form-control" [(ngModel)]="appointmentModel.reconfirmRemarks"></textarea>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="col-md-offset-8 col-md-4">
                <button type="button" class="btn btn-primary" (click)="updateReconfirm()">{{ 'Save' | translate}}</button>
            </div>
        </div>
    </form>
</p-dialog> -->
<!-- <p-dialog id="cancelAppointment" header="{{title2}}" [(visible)]="display" [width]="600" modal="modal" responsive="true" *ngIf="isCancelledAppointment">
    <form class="form-horizontal well">

        <div class="form-group">
            <label class="control-label col-md-2">
                {{ 'Date' | translate}}
            </label>
            <div class="col-md-4">
                <p-calendar [(ngModel)]="cancellationDate"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            dateFormat="dd/mm/yy"
                            [disabled]="true"
                            [showIcon]="true"
                            [ngModelOptions]="{standalone: true}"
                            yearRange="2000:2050"></p-calendar>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                {{ 'Remarks' | translate}}
            </label>
            <div class="col-md-10">
                <textarea id="txtCancelationRemarks" name="txtCancelationRemarks" class="form-control" [(ngModel)]="appointmentModel.cancelRemarks"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="button" class="btn btn-primary" (click)="cancelAppointment()">{{ 'Cancel' | translate}}</button>
            </div>
        </div>
    </form>
</p-dialog> -->
<!--<p-dialog id="rescheduleAppointment" header="Reschedule Appointment" [(visible)]="display" [width]="600" modal="modal" responsive="true" *ngIf="isRescheduledAppointment">
    <form *ngIf="active" class="form-horizontal well">
        <div class="form-group">
            <div class="col-md-2 ">
                Date
            </div>
            <div class="col-md-4">
                <p-calendar [(ngModel)]="selectedRescheduledDate"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true" [required]="true"
                            [ngModelOptions]="{standalone: true}"
                            yearRange="2000:2050"
                            (onSelect)="onDateSelect($event)"></p-calendar>
            </div>
            <div class="col-md-2 ">
                Time
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddlTime" name="ddlTime"
                        [(ngModel)]="selectedRescheduledTimeSlot" #ddlTime="ngModel" required>
                    <option *ngFor="let itm of rescheduledTimeSlotsList" [value]="itm.name">{{itm.name}}</option>
                </select>
            </div>
        </div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="col-md-offset-8 col-md-4">
                <button type="button" class="btn btn-primary" (click)="RescheduleAppointment()">Save</button>
            </div>
        </div>
    </form>
</p-dialog>-->
<!-- Session Extension Popup-->
<button type="button" data-toggle="modal" data-target="#sessionExtensionSlotModal" style="display:none"
    #btnShowSessionExtensionSlotModal></button>
<div id="sessionExtensionSlotModal" #sessionExtensionSlotModal class="modal fade" role="dialog" data-backdrop="static">
    <form *ngIf="active" class="form-horizontal" name="sessionExtensionFrm" #sessionExtensionFrm="ngForm">
        <div class="modal-dialog halfWidth">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{sessionExtensionPopupTitle}} - {{doctorName}}</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="showProgress">
                        <loading></loading>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Date' | translate}}
                        </label>
                        <div class="col-md-6">
                            <p-calendar [(ngModel)]="selectedDateForOpenCloseSlot" [monthNavigator]="true"
                                [yearNavigator]="true" dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="2000:2050"
                                (onSelect)="onOpneCloseSlotDateSelect($event)"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'StartTime' | translate}}
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" id="ddlSessionExtensionStartTime"
                                name="ddlSessionExtensionStartTime" [(ngModel)]="selectedStartTimeForOpenCloseSlot"
                                #ddlSessionExtensionStartTime="ngModel" required>
                                <option *ngFor="let item of entireDayTimeSlotsListForStartTime" [value]="item.name">
                                    {{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'EndTime' | translate}}
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" id="ddlSessionExtensionEndTime"
                                name="ddlSessionExtensionEndTime" [(ngModel)]="selectedEndTimeForOpenCloseSlot"
                                #ddlSessionExtensionEndTime="ngModel" required>
                                <option *ngFor="let item of entireDayTimeSlotsListForEndTime" [value]="item.name">
                                    {{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Remarks' | translate}}
                        </label>
                        <div class="col-md-10">
                            <textarea id="txtRemarks" name="txtRemarks" class="form-control"
                                [(ngModel)]="sessionExtension.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <button type="button" class="btn btn-primary" (click)="saveSessionExtension()"
                                [disabled]="!sessionExtensionFrm.form.valid">{{ 'Save' | translate}}</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                #btnCloseSessionExtensionModal>{{ 'Cancel' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Restore Time Slots Popup-->
<button type="button" data-toggle="modal" data-target="#restoreTimeSlotsModal" style="display:none"
    #btnShowRestoreTimeSlotsModal></button>
<div id="restoreTimeSlotsModal" #restoreTimeSlotsModal class="modal fade" role="dialog" data-backdrop="static">
    <form *ngIf="active" class="form-horizontal" name="restoreTimeSlotsFrm" #restoreTimeSlotsFrm="ngForm">
        <div class="modal-dialog halfWidth">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'RestoreTimeSlot' | translate}} {{doctorName}}</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="showProgress">
                        <loading></loading>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Date' | translate}}
                        </label>
                        <div class="col-md-6">
                            <p-calendar [(ngModel)]="dateToRestoreTimeSlots" [monthNavigator]="true"
                                [yearNavigator]="true" dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="2000:2050"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <button type="button" class="btn btn-primary" (click)="restoreTimeSlots()"
                                [disabled]="!restoreTimeSlotsFrm.form.valid">{{ 'Save' | translate}}</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                #btnCloseRestoreTimeSlotsModal>{{ 'Cancel' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="quickRegistrationModal" class="modal fade" role="dialog">
    <div class="modal-dialog width75percent">
        <!-- Modal content-->


        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'PatientQuickRegistration' | translate}}</h4>
            </div>
            <form class="form-horizontal" name="patientAccountForm" #patientAccountForm="ngForm">

                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Date' | translate}}
                        </label>
                        <div class="col-md-4">
                            <p-calendar [(ngModel)]="selectedDate" [monthNavigator]="true" [yearNavigator]="true"
                                dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="2000:2050"
                                (onSelect)="onDateSelect($event)"></p-calendar>
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'Time ' | translate}}
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" id="ddlTimes" name="ddlTimes" [(ngModel)]="selectedTimeSlot"
                                #ddlTimes="ngModel" required>
                                <option *ngFor="let itm of timeSlotsList | translateObjects" [value]="itm.name">
                                    {{itm.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'FirstName' | translate}}
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                [(ngModel)]='patientQucikAccount.firstName' #firstName="ngModel" required />
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'MiddleName' | translate}}
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="middleName" name="middleName"
                                [(ngModel)]='patientQucikAccount.middleName' #middleName="ngModel" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'LastName' | translate}}
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                [(ngModel)]='patientQucikAccount.lastName' #lastName="ngModel" required />
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'Mobile' | translate}}
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="mobile" name="mobile"
                                pattern="^(\+?[0-9]{1,5})?([1-9][0-9]{9})$"
                                [(ngModel)]='patientQucikAccount.mobileNumber' #mobile="ngModel" required />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'BirthDate' | translate}}
                        </label>
                        <div class="col-md-4">
                            <p-calendar [(ngModel)]="patientQucikAccount.birthDate" [monthNavigator]="true"
                                [yearNavigator]="true" dateFormat="dd/mm/yy" [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}" yearRange="1900:2050"></p-calendar>
                        </div>
                        <label class="control-label col-md-2">
                            {{ 'Gender' | translate}}
                        </label>
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <td>
                                        <input type="radio" id="rbGender" name="rbGender"
                                            [(ngModel)]='patientQucikAccount.gender' value="1" />{{ 'Male' | translate}}
                                    </td>
                                    <td>
                                        <input type="radio" id="rbGender" value="2"
                                            [(ngModel)]='patientQucikAccount.gender' name="rbGender" />{{ 'Female' |
                                        translate}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            {{ 'Service' | translate}}
                        </label>
                        <div class="col-md-4">
                            <select class="form-control" id="ddlQuickRegisterationServices"
                                name="ddlQuickRegisterationServices" required
                                [(ngModel)]="patientQucikAccount.serviceTimeSlotId"
                                #ddlQuickRegisterationServices="ngModel" #srv (change)="getServiceTimeSlots(srv.value)">
                                <option *ngFor="let itm of serviceTimeSlotsList" [value]="itm.id">{{lang == 'ar' ?
                                    itm.serviceName : itm.serviceNameTranslation}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                [disabled]="!patientAccountForm.valid || !enableQuickRegistrationBtn"
                                (click)="createQuickPateintAccount()">{{ 'Register' | translate}} </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'Cancel' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>


    </div>
</div>
<div id="searchForPatient" class="modal fade" role="dialog">
    <div class="modal-dialog fullWidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'Search' | translate}} </h4>
            </div>
            <div class="modal-body">
                <receptionist-search (onAppointmentSelected)="getSelectedAppointment($event)"></receptionist-search>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" #btnCloseReceptionistSearchPopup
                            data-dismiss="modal">{{ 'Close' | translate}} </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <p-dialog id="repeatAppointment" header="Repeat Appointment" [(visible)]="displayRepeatAppointmentPopup" [width]="750" modal="modal" responsive="true" *ngIf="displayRepeatAppointmentPopup">
    <form *ngIf="active" class="form-horizontal well" name="repeatAppointmentFrm" #repeatAppointmentFrm="ngForm">
        <div class="modal-body">
            <div *ngIf="showProgress">
                <loading></loading>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">
                    {{ 'Date' | translate}}
                </label>
                <div class="col-md-5">
                    <p-calendar [(ngModel)]="selectedRepeatDate"
                                [monthNavigator]="true"
                                [yearNavigator]="true"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true" [required]="true"
                                [ngModelOptions]="{standalone: true}"
                                yearRange="2000:2050"
                                (onSelect)="onRepeatDateSelect($event)"></p-calendar>
                </div>
                <label class="control-label col-md-2">
                    {{ 'Time' | translate}}
                </label>
                <div class="col-md-4">
                    <select class="form-control" id="ddlTime" name="ddlTime"
                            [(ngModel)]="selectedRepeatTimeSlot" #ddlTime="ngModel" required>
                        <option *ngFor="let itm of repeatingTimeSlotsList" [value]="itm.name">{{itm.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">
                    {{ 'Class' | translate}}
                </label>
                <div class="col-md-5">
                    <table>
                        <tr>
                            <td *ngFor="let item of appointmentClassesList">
                                <input type="radio" name="appClass"
                                       (click)="selectRepeatedAppointmentClass(item.id)"
                                       [value]="item.id" [checked]="item.id == repeatedAppointmentModel.appointmentClassId" /> {{item.name}}
                            </td>
                        </tr>
                    </table>
                </div>

                <label class="control-label col-md-2">
                    {{ 'Service' | translate}}
                </label>
                <div class="col-md-4">
                    <select class="form-control" id="ddlServicesForReapeated" name="ddlServicesForReapeated" required
                            [(ngModel)]="repeatedAppointmentModel.serviceTimeSlotId" #ddlServicesForReapeated="ngModel" #srv (change)="getServiceTimeSlots(srv.value)">
                        <option *ngFor="let itm of serviceTimeSlotsList | translateObjects  : null : null : lstToTranslated" [value]="itm.id">{{lang == 'ar' ? itm.serviceName : itm.serviceNameTranslation}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">
                    {{ 'FLag' | translate}}
                </label>
                <div class="col-md-5">
                    <input type="checkbox" class="form-control" id="chkFlag" name="chkFlag" [(ngModel)]="repeatedAppointmentModel.flag" #chkFlag="ngModel" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    {{ 'Remarks' | translate}}
                </label>
                <div class="col-md-10">
                    <textarea id="txtRemarks" name="txtRemarks" class="form-control" [(ngModel)]="repeatedAppointmentModel.description"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-4 col-md-8">
                    <button type="button" class="btn btn-primary" (click)="saveRepeatedAppointment()" [disabled]="!repeatAppointmentFrm.form.valid">{{ 'Save' | translate}}</button>
                    <button type="button" class="btn btn-danger" (click)="cancelRepeatingAppointment()">{{ 'Cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</p-dialog> -->

<!-- <p-dialog contentHeight="500" [header]="'SearchForPatient' | translate" [(visible)]="displayPatientAdvancedSearch" [resizable]="true" [width]="800" [responsive]="true" [height]="auto">
    <patient-search [showEdit]="showEditPatient" [showSelect]="showSelectPatient" (patientSelected)="managePatientSelection($event)"></patient-search>
</p-dialog> -->



<button type="button" #btnDisplayCurrentDayAppointment class="hidden" data-toggle="modal"
    data-target="#selectedDayAppoitments"></button>
<div id="selectedDayAppoitments" class="modal fade" role="dialog">
    <div class="modal-dialog width75percent">
        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'Appointments' | translate}}: {{selectedDateAsString}}</h4>
            </div>
            <div class="modal-body">

                <print-page [section]='toPrintDiv'></print-page>

                <div id="todayAppoinmentsDivasd">
                    <div class="hidden">
                        <div class="row text-center">
                            <span class="user-thumb">
                                <img src="{{accountService.profileImagePath}}" alt="image">
                            </span>
                        </div>
                        <div class="row">
                            <strong>
                                {{'DoctorName' | translate}}:&nbsp;&nbsp;
                            </strong>
                            {{doctorName}}
                        </div>
                        <div class="row">
                            <strong>
                                {{'Date' | translate}}:&nbsp;&nbsp;
                            </strong>
                            {{dayViewSelectedDate | date:'dd/MM/yyyy'}}
                        </div>
                        <div class="padding5">&nbsp;</div>

                    </div>
                    <table class="table table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">{{'Time' | translate}}</th>
                                <th class="text-center">{{'MRN' | translate}}</th>
                                <th class="text-center">{{'Name' | translate}}</th>
                                <th class="text-center">{{'Mobile' | translate}}</th>
                                <th class="text-center">{{'ArrivalTime' | translate}}</th>
                                <th class="text-center">{{'Confirmed' | translate}}</th>
                                <th class="text-center">{{'Remarks' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evnt of SelectedDayAppoitments">
                                <!--<td class="col-md-1" *ngIf="evnt.fullTitle" >{{ ( utilityClass.getUtcDateFromString(evnt.dateTime).getDate() == dayViewSelectedDate.getDate()) ? (utilityClass.getAppointmentTime(evnt.start , evnt.end) + ' - ' + evnt.fullTitle ) : ''}} </td>-->
                                <td>{{ evnt.time }} </td>
                                <td>{{ evnt.mrn }} </td>
                                <td>{{ evnt.name }} </td>
                                <td>{{ evnt.mobile }} </td>
                                <td>{{ evnt.arrivalTime }} </td>
                                <td class="text-center">
                                    <img *ngIf="evnt.confirmed == 'True'" src="assets/images/ok-24.jpg"
                                        title="Confirmed" alt="Confirmed" />
                                </td>
                                <td>{{ evnt.remarks }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="todayAppoinmentsDiv" class="hidden">
                    <div>
                        <div class="row text-center">
                            <span class="user-thumb">
                                <img src="{{accountService.profileImagePath}}" alt="image">
                            </span>
                        </div>
                        <div class="row">
                            <strong>
                                {{'DoctorName' | translate}}:&nbsp;&nbsp;
                            </strong>
                            {{doctorName}}
                        </div>
                        <div class="row">
                            <strong>
                                {{'Date' | translate}}:&nbsp;&nbsp;
                            </strong>
                            {{dayViewSelectedDate | date:'dd/MM/yyyy'}}
                        </div>
                        <div class="padding5">&nbsp;</div>

                    </div>
                    <table class="table table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">{{'Time' | translate}}</th>
                                <th class="text-center">{{'MRN' | translate}}</th>
                                <th class="text-center">{{'Name' | translate}}</th>
                                <th class="text-center">{{'Mobile' | translate}}</th>
                                <th class="text-center">{{'ArrivalTime' | translate}}</th>
                                <th class="text-center">{{'Confirmed' | translate}}</th>
                                <th class="text-center">{{'Remarks' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evnt of SelectedDayAppoitments">
                                <td>{{ evnt.time }} </td>
                                <td>{{ evnt.mrn }} </td>
                                <td>{{ evnt.name }} </td>
                                <td>{{ evnt.mobile }} </td>
                                <td>{{ evnt.arrivalTime }} </td>
                                <td class="text-center">
                                    <img *ngIf="evnt.confirmed == 'True'" src="assets/images/ok-24.jpg"
                                        title="Confirmed" alt="Confirmed" />
                                </td>
                                <td>{{ evnt.remarks }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>